<div class="menu_box">
    <div class="bd">
        <ul class="menu_list">
            <li class="current"><a href="javascript:;"><span class="b1"></span>人格识别</a></li>
            <li><a href="javascript:;"><span class="b1"></span>综合报告</a></li>
            <li><a href="javascript:;"><span class="b1"></span>我的圈子</a></li>
            <div class="lev_line">
                <fieldset></fieldset>
            </div>
            <li><a href="javascript:;"><span class="b1"></span>个人信息</a></li>
            <li><a href="javascript:;"><span class="b1"></span>我的钱包</a></li>
            <li><a href="javascript:;"><span class="b1"></span>账户安全</a></li>
            <li><a href="javascript:;"><span class="b1"></span>隐私设置</a></li>
        </ul>
    </div>
    <div class="my_sidebox">
        <div class="my_sidehd">
            <a href="javascript:;">升级为高级用户 &gt;&gt;</a>
        </div>
        <div class="my_sidebd">
            <div class="side_act">
                <a href="javascript:;" class="act_img">
                    <img src="/images/qr_code.png" alt="">
                </a>
                <p>用户服务邮箱UserService：</p>
                <p class="c-red">iSouLingUS@gmail.com</p>
                <p>iSouLing 版权所有Copyright 2017 </p>
                <p>All Rights Reserved</p>
                <p>沪ICP备00000000号</p>
            </div>
        </div>
    </div>
</div>