@{
    Layout = "_SiteLayout";
}
@section head{
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("head", false)
}
<div class="my_topbar">
    <div class="my_wrapper clearfix">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="my_logo">
            <img src="/images/logo.png" alt="" width="168" height="32">
        </a>
        <div class="search l">
            <div class="search-box cf">
                <form onsubmit="if(this.k.value==false ||this.k.value=='请输入您要搜索的内容，如：粉丝'){alert('请输入您要搜索的内容，如：粉丝');return false;}else{encode();}" method="post" action="search.php">
                    <input type="text" class="txt" autocomplete="off" id="smart_input" name="k" onblur="if (value ==''){value='请输入您要搜索的内容，如：粉丝'}" value="请输入您要搜索的内容，如：粉丝" onfocus="if (value =='请输入您要搜索的内容，如：粉丝'){value =''}">
                    <input type="hidden" value="" id="kk" name="kk">
                    <input type="submit" class="btn" value="" name="sou">
                </form>
            </div>
        </div>
        <div class="my_person" id="my_person">
            <ul class="my_groupitem">
                <li class="my_group_li">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="my_group_a"><span><i class="my_ico_home"></i></span></a>
                </li>
                <li class="my_group_li">
                    <a href="javascript:;" class="my_group_a"><span><i class="my_ico_fans"></i></span></a>
                </li>
                <li class="my_group_li">
                    <a href="javascript:;" class="my_group_a"><span><i class="my_ico_msg"><em class="icon_num_red"></em></i></span></a>
                </li>
                <li class="my_group_li">
                    <a href="javascript:;" class="my_group_a"><span><i class="my_ico_music"></i></span></a>
                </li>
            </ul>
            <div class="my_login clearfix">
                <a id="header_nick" href="javascript:;" class="my_nickname" title="我的个人主页">昵称昵称</a>
                <a href="javascript:;" class="my_avatar">
                    <img src="/images/avatar.png" width="32" height="32" alt="头像">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="page_bg pt-20 pb-50">
    <div class="page_wrapper">
        <div class="main_box clearfix">
            <div class="main_container">
                @RenderBody()
            </div>
            <div class="main_menu">
                @Html.Partial("_Menu")
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/lib/layer/layer.js"></script>
    <script type="text/javascript" src="/js/area.js"></script>
    <script type="text/javascript" src="/js/verifycode.js"></script>
    <script type="text/javascript" src="/js/approveInit.js"></script>
    @await RenderSectionAsync("scripts", false)
}