@{
    ViewBag.Title = Localizer["1号 (腹中心本能主导) 完美型／改革型"];
    ViewBag.Enneagram = 1;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>1号 (腹中心本能主导) 完美型／改革型</div>
        <div class="titler f-30 c-blue mt-30">
            是非黑白对错，事情应该是怎样，
            <br>都应该有规有矩，我一定坚持自己的标准！
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p class="title">1，原则必须跟随，不可有协商；</p>
            <p class="title">2，满口“应该”“不应该”；</p>
            <p class="title">3，如不能做到自己的要求或标准，会自责、内疚、愤怒、及批判［正确］与否；</p>
            <p class="title">4，情感世界薄弱，理性思想主导；</p>
            <p class="title">5，要求／准则；对人亦对己；</p>
            <p class="title">6，对错、黑白分明，没有灰色地带；</p>
            <p class="title">7，要求［高效能］表现。</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>受谴责
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>对、正确
            </div>
        </li>
        <li>
            <div class="title">
                <p>主导情绪：</p>压迫感
            </div>
        </li>
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>孔子</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>关公</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>孙中山</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>甘地</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>邓小平</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>戴卓尔夫人</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>李光耀</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>朱镕基</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>陈方安生</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>张敏仪</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>杨铁梁</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>钟士元</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>黄宏发</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>司徒华</h6></a>
            </li>
            <li>
                <img src="/images/main/about/avatar.jpg">
                <a href="javascript:;" class="look"><h6>黄子华</h6></a>
            </li>
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我觉得我凡事必负自己的责任；</p>
        <p>》我注重纪律、守时、守法；</p>
        <p>》我经常压抑自己愤怒的情绪；</p>
        <p>》我打扮整齐干净，并保持环境整洁；</p>
        <p>》我尽量做到今日事，今日毕；不拖延该办的事情；</p>
        <p>》我很注重人前的形象，端庄，淑女化、绅仕形象是我的本质；&nbsp;</p>
        <p>》我一向自我要求较高；</p>
        <p>》我看到别人没教养就很生气，但我总是不表达我的不满。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》你对自我要求很高，因此常常不停地挑剔自己，也不由自主地常挑剔别人；&nbsp;</p>
        <p>》你的工作态度严谨，因此不喜欢别人工作态度随便、草率；&nbsp;</p>
        <p>》你遇到事情一定全心全力去做，若然做得心力交瘁时，也会不由得心生埋怨；&nbsp;</p>
        <p>》你做任何事，必有自己的计划，不会盲目没主见，而跟随别人的想法；&nbsp;</p>
        <p>》你对自己做事的方法，仍常常检讨改进，并修正再修正；&nbsp;</p>
        <p>》讨厌凡事只会走快捷方式而不脚踏实地的人；&nbsp;</p>
        <p>》对生活的要求是规律、整齐，尽其力使生活井然有序；&nbsp;</p>
        <p>》对突然发生的事，曾惊慌、失控，并引起心烦、愤怒；&nbsp;</p>
        <p>》发觉自己有不对的地方，立刻会改正，但常常是矫枉过正。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A．从面部表情看起来是端庄、高贵而严肃的；&nbsp;</p>
        <p>B．衣着是很整齐、干净，并且一丝不茍；&nbsp;</p>
        <p>C．家里保持干净、有秩序，所有东西放在固定地方，也要求家人遵守规定；&nbsp;&nbsp;</p>
        <p>D．一面收拾环境，一面骂人，而且是唠唠叨叨地念；&nbsp;</p>
        <p>E．常批评别人的不好，好像没有一个人、一件事是令人满意的；&nbsp;</p>
        <p>F．守时、守秩序，让人觉得吹毛求疵；&nbsp;</p>
        <p>G．屁股长钉子，很难坐下来休息，总想着有事要做；&nbsp;</p>
        <p>H．不会说甜言蜜语，给人感觉喜欢鸡蛋里挑骨头；&nbsp;</p>
        <p>I．很爱面子，常常很生气而不表达，所以脸部表情僵硬；&nbsp;</p>
        <p>J．别人做好的事，总是不放心；&nbsp;</p>
        <p>K．心很细，注重小节，所以整天忙碌；&nbsp;</p>
        <p>L．思想古板，不会幽默，没有弹性，用二分法来判断事情；&nbsp;</p>
        <p>M．肢体不柔软，对别人的热情、亲热很难接受，并会批评没有礼教；&nbsp;</p>
        <p>N．很努力进取，如果发觉自己没有进步，会非常不满意自己；&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>身体语言：</em>腰板直，挺硬，可以长久保持同一姿势，行动反应速度通常是较快和急。面部表情和眼神：看起来是端庄、高贵而严肃，面部表情变化少，严肃拘紧，笑容不多； 眼神比较的冷静、严肃，没有什么感情色彩，目光锐利，但是没有攻击性。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>着装特点：</em>整齐端正，喜欢黑白素净的色彩；衣着通常比较干净利索，不会有一些很复杂和累赘的装饰。整体造型会是整洁、清爽、中规中矩。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>在说话的时候他们不会很大声，通常声调比较平稳，在面对问题的时候，他们的焦点在于解决问题，所以他们会直切正题，简明扼要，不兜兜转转。 他们的言语当中，通常也是指令清晰、干脆利落，没有拖泥带水、模棱两可的词句。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>对/错、应该/不应该、好/不好、必须/一定要/不可以、原则、立场、规则、制度、流程、规定、标准、规范等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>在意自己是否完美的一号，对于一切都有一个外在的标准，行为也是如此。“站如松，坐如钟，行如风”，尤其是社交场合，你往往会看到一号得体的装扮、恰当的表情以及标准的商务礼仪姿势。他们不能接受自己歪歪斜斜懈怠的样子，也很少会衣着邋遢怪异。
    </div>
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>1号完美主义者是很好的员工，他们黑白分明、做事遵守条例、追求完美。其身正，不令而行；其身不正，虽令不行。1号性格的人原则性很强，在他们的世界中，非黑即白，凡事讲求公平、公正。领导者的个人素质和行事风格对于他们而言非常重要。若是领导者被1号员工认为人品有问题，是很难取得1号员工的信服的。沟通中要注意措辞的准确性与权威性。完美主义者对于错误和瑕疵有着天生的敏锐度，他们的完美会体现在工作的方方面面。哪怕在与他们交流的过程中也要注意措辞的精准性，切忌模棱两可，要用符合逻辑的方式表达出自己的观点。</p>
        <p>激励政策：欣赏其高标准，一号一旦决定了某个正确的目标，1号员工们就会通过忘我的工作来让他人感到满意，而不会像有些人只会为权力和安全感工作。他们的内心总是渴望着做好事，愿意为改善工作而付出长久的努力。</p>
        <p>增强团体意识，自主管理时间。1号的员工在工作中为了做到完美，任何事情都亲力亲为，不是很善于与团队成员进行分工合作。在追求完美的同时，必然要耗费一定的时间和精力。领导者在给1号安排任务时，最好不要把时间排得太紧，这样会加重他们的紧张、焦虑感。</p>
        <p>1号的执行力很强，若是正确地任用1号员工，他们将会是很好的规章条例制定者和遵守者，也会是对工作非常负责任的职员。若是管理方式不当，他们很可能成为公司中的批判者和权威的挑战者。选贤任能、任人唯贤关键在于领导者的管理策略和技巧的运用。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》对工作充满热诚、尽责认真，工作成果有一定保证，更可能会有令人喜出望外的成绩；&nbsp;</p>
        <p>》组织能力强，做事井井有条；&nbsp;&nbsp;</p>
        <p>》慷慨大方，可以超额完成工作或不介意做一些超出应得利益的事情；&nbsp;</p>
        <p>》不但自我批评，也能设定标准，成为大家的共同奋斗的目标；&nbsp;</p>
        <p>》诚实忠信，有让人信任依赖的本领；&nbsp;</p>
        <p>》相信原则，而且能贯彻执行，绝不半途而废；&nbsp;</p>
        <p>》部分人会有改革制度的气魄；&nbsp;</p>
        <p>》在一般情况下，情绪稳定，顾全大局，有大将之风；&nbsp;</p>
        <p>》对组织上的缺陷很有警觉性和觉察能力，并会提出实质建议；&nbsp;</p>
        <p>》道德感强、理想主义，是团体中的精神领袖；&nbsp;&nbsp;</p>
        <p>》喜爱学习和认识事物，然后极力将它们用于事业和生活中。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>执法者、 执行者、监督者、维护者、 榜样者
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>法官、律师、裁判、会计、审计、统计、精算师、档案、行政、教师、医生、警察、公务员、质检、安检、审核、机械制造等。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>细节、精细化管理</p>
        <p>1、注重细节和过程、标准严格，追求完美；</p>
        <p>2、重视标准、制度、流程建设、目标计划清晰；</p>
        <p>3、以身作则，事必亲躬，亲力亲为；</p>
        <p>4、以事为中心，原则性过强，灵活性不足。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、把“有效”而不是“正确”作为衡量标准；&nbsp;</p>
        <p>2、合理授权，以结果为导向，帮助下属成长；</p>
        <p>3、放宽标准，关注更多可能性；</p>
        <p>4、多赞美下属，让工作环境充满更轻松的氛围。</p>
    </div>
</div>