@{
    ViewBag.Title = Localizer["2号（心中心情感主导）助人型/付出型"];
    ViewBag.Enneagram = 2;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>2号（心中心情感主导）助人型/付出型</div>
        <div class="titler f-30 c-blue mt-30">
            我为人容易相处亲近，所以他人较易与我倾诉及剖白内心，
            <br>世界与感受！
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p class="title">1，对别人的感觉敏锐。</p>
            <p class="title">2，为了得到别人的爱或建立良好关系，不惜改变自己，迁就他人。</p>
            <p class="title">3，型态百变，以迎合别人活亲近他们。</p>
            <p class="title">4，型态百变，以迎合别人活亲近他们。</p>
            <p class="title">5，要别人觉得需要自己。</p>
            <p class="title">6，能量来自他人，为人而活。</p>
            <p class="title">7，忽略自己，不懂照顾自己的内心世界。</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>有人爱
            </div>
        </li>
        <li>
            <div class="title" style="width:275px;">
                <p>深层渴望：</p>爱、要他人需要自己
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="/images/main/Representative/＃2_德兰修女.jpg">
                <a href="javascript:;" class="look"><h6>德兰修女 (Mother Teresa)</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃2_邓丽君.jpg">
                <a href="javascript:;" class="look"><h6>邓丽君</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃2_关之琳.jpg">
                <a href="javascript:;" class="look"><h6>关之琳</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃2_梁家辉.jpg">
                <a href="javascript:;" class="look"><h6>梁家辉</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃2_南丁格尔.jpg">
                <a href="javascript:;" class="look"><h6>南丁格尔 (Florence Nightingale)</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃2_熊黛林.jpg">
                <a href="javascript:;" class="look"><h6>熊黛林</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃2_叶倩文.jpeg">
                <a href="javascript:;" class="look"><h6>叶倩文</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃2_张柏芝.jpg">
                <a href="javascript:;" class="look"><h6>张柏芝</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃2_张学友.jpg">
                <a href="javascript:;" class="look"><h6>张学友</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃2_赵薇.jpg">
                <a href="javascript:;" class="look"><h6>赵薇</h6></a>
            </li>  
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我是一个很努力去帮助别人，及把自己的爱完全奉献的人；</p>
        <p>》我对别人关心，并表达我的爱护；</p>
        <p>》我会以服务别人为快乐的来源；</p>
        <p>》我了解别人的需求并尽量满足别人；</p>
        <p>》我觉得很多人都喜欢找我谈他们的心事；</p>
        <p>》如果别人觉得需要我的帮助，我会很乐于付出；&nbsp;</p> 
        <p>》我常把别人的事放在前面，而忙碌中常忘掉自己的需要。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》你当察觉到别人有需要帮助时，如果不立刻付出会自责并有罪恶感。&nbsp;</p>
        <p>》总觉得一天的时间不够分配，有那么多计划该做的事，却又心有余而力不足。&nbsp;</p>
        <p>》我感觉自己本性善良，乐于助人，所以人缘很好，朋友很多 。&nbsp;</p>
        <p>》对别人有很高的包容性，爱别人，同情别人，而且对人不批判。&nbsp;</p>
        <p>》有时也很想自我满足一下，但马上就反省是不是自己太自私了 。&nbsp;</p>
        <p>》有的人也让我生气，因为他们不了解我的付出，这时候会伤心难过。&nbsp;</p>
        <p>》觉得让自己闲散是浪费生命的事，帮忙别人其实是举手之劳，何乐而不为呢？&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A．很热情的对待人，对人很好，很有耐心。&nbsp;</p>
        <p>B．心地慈悲，很愿意贡献自己所有，施诸他人。&nbsp;</p>
        <p>C．做人既诚恳，给人温暖，而且大方、慷慨。&nbsp;</p>
        <p>D．服务别人时废寝忘食，不知道累，而且感到兴奋。&nbsp;</p>
        <p>E．把别人成功、快乐、幸福都看成是自己的成就。&nbsp;</p>
        <p>F．以为别人有需要，就拼命的给，别人拒绝，以为别人假客气。&nbsp;</p>
        <p>G．喜欢别人依赖自己，被依赖就是被看重，那是幸福的。&nbsp;</p>
        <p>H．付出时，别人不知悦纳，会有挫败感。&nbsp;</p>
        <p>I．  帮不了别人的时候，心中会很痛苦，再去想办法，一定要帮。&nbsp;</p>
        <p>J．有嫉妒心，别人不够看重自己时，会很生气。&nbsp;</p>
        <p>K．喜欢谈天，喜欢人情来往，但付出很自然容易，收受却感到很不自然。&nbsp;</p>
        <p>L．常往外跑，去帮忙别人，留在家中时不是打电话，就是招待别人。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>身体语言：</em>开放、热情、行动较慢，柔软而有力，喜欢身体接触；面部表情：笑容满面，热情可爱，天真烂漫，富有诱惑性；
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面貌、眼神：</em>你会在二号助人型的眼中发现“爱”，灵魂之窗永远是最坦诚的。我们可以修饰我们的笑容，可以修饰们的仪态，可以修饰各样的行为，而眼神是直通心灵最深处、最直接的“内线”，所以一个人的眼神会把一个人的内心世界完全显示出来。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>注重衣着的打扮,得体，根据场合穿衣服；他们希望别人更多的焦点放在自己身上，但有很炫或者是很另类的服饰。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>二号的人偏向于用感觉去面对问题，语速通常比较快，速度缓和，自嘲，有幽默感。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>二号的人偏向于用感觉去面对问题，语速通常比较快，速度缓和，自嘲，有幽默感。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>二号的肢体语言比较温软，通常二号性格者无论是男士还是女士，身形都会比较圆润。给人的整体感觉会是比较亲切、热情、柔和。
    </div>
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>	在2号的人看来，这个世界上，必须先有付出才能有所收获。他们相信，只有透过刻意付出他人所想、所需的一切，然后期待对方回馈自己，才能赢得爱，并且让个人需要得到满足。	</p>
        <p>	2号性格的人喜欢与人相处，他们是沟通高手，擅长与不同类型的人打交道。他们对于别人的需求很敏感，有时会放弃自己的需要以满足他人的需要。为此，针对他们的这种特性，可以安排他们从事客服等与人交流、为人服务的工作，相信他们会非常喜欢，也会做的很好的。那些需要独自处理、埋头苦干的研究类工作不是他们所擅长的。 	</p>
        <p>	引导他们注意力不要过分聚焦在某一个人身上。2号性格的人渴望从重要人物身上获取接纳和认同。他们会选择性地关注，尤其是那些被认定为重要的人物。比如，在公司中，2号员工会不自觉地对领导的需要非常关注，他们会不时地为领导倒杯水，或时常靠近领导与他们谈话等。这些行为在别的员工看来会有些不舒服，不利于员工间的和谐。对于这种情况，领导者要真诚地告诉他们，他们不必用特定的方式为你做事或帮助你来博得你的欢心，作为一个领导者对所有的员工都是一视同仁的。告诉他们，不要把太多的注意力放在自己身上，其他同事也许更需要他们的帮助。 	</p>
        <p>	引导他们帮人要适度。很多时候，2号的人在看到他人的需求时会在第一时间给予对方帮助，不管对方是否真的需要自己的帮助。在工作中，也许正是因为2号太过热情，帮助了别人不仅没有得到对方的感激，反而令对方感觉很不舒服。对于员工间存在的这些问题，领导者可以找2号员工进行坦诚地交流，首先要肯定他们助人的热心，但建议他们在帮助别人之前要征询他人的意见，看对方是否真的需要自己的帮助。若是对方拒绝了他们的帮助，并不是因为对方不喜欢他们，而是他们有自己的解决方法。 	</p>
        <p>	真心感谢他们的付出，并鼓励他们真实地表达自己的需要。领导者会发现，2号员工对别人的需求非常敏感，但却很难表达自己的需要。其实，有时候他们是为了满足他人的需要而强行压制住了自己的需要。长期压抑及不直接表达真正的个人需要，最终会令情绪（愤怒）爆发出来。若不能及时、有效地处理负面情绪，就会影响工作的正常开展。为此，领导者可以时常鼓励他们说出自己的需要，告诉他们，能够为他们做一些事情也会为自己带来快乐的。	</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>善于聆听；&nbsp;</p>
        <p>有同情心，较易感受别人的需要，与人产生共鸣；&nbsp;</p>
        <p>让人易于亲近、信任；&nbsp;</p>
        <p>极有耐性，能不厌其烦地关怀别人的处境；&nbsp;</p>
        <p>外在表现具弹性，能调整自己以迎合他人的需要；&nbsp;</p>
        <p>能跟不同类型的人交往，并且都可以赢得他们的欢心和信任；&nbsp;</p>
        <p>有让人服服帖帖的本事，并把焦点放在避免被拒绝上；&nbsp;</p>
        <p>擅长卸下别人的武装防卫；&nbsp;</p>
        <p>出于照料别人的动机，他们会自发地驱策自己把事情办妥。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>协助者、幕僚者、关系维护者、沟通者、支持者、服务者。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>秘书、助理、ＨＲ、公关、营销、保险、主持、播音、演讲、教师、礼仪、客服、心理咨询、护士、慈善、志愿者等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em>很多人际沟通，强调合作性，大家同向一个目标迈进，没有人际纠纷。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>缺乏正面的人际沟通，不被重视，不被爱戴。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>家庭亲情式管理</p>
        <p>1、家庭般氛围，关心员工的工作和生活；</p>
        <p>2、关怀、倾听，强调“关系”和“情感”；</p>
        <p>3、不喜欢主动安排工作、自己做很多；</p>
        <p>4、容易心软，原则性不强,对人不对事。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、觉察自己的需求和兑换机制；</p>
        <p>2、坚持原则，多关注事，而不要只关注人；</p>
        <p>3、合理授权，学会说不；</p>
        <p>4、觉察自己付出背后的“控制欲”，控制情绪；</p> 
    </div>
</div>