@{
    ViewBag.Title = Localizer["3号 （心中心情感主导）成就型/动力型"];
    ViewBag.Enneagram = 3;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>3号 （心中心情感主导）成就型/动力型</div>
        <div class="titler f-30 c-blue mt-30">
            成功是不断订下新目标，又不断完成，追求成就是我工作的原动
            <br>力，亦以成就来厘定自己的价值。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn" style="width:605px;">
            <p class="title">1，着重成就，有竞争心，要做到比别人好；</p>
            <p class="title">2，着重于事，而不是着重于人，对自己的价值高低，也以此为度量准则，如：职衔；</p>
            <p class="title">3，工作态度：不断做，不断冲，为求达到所定之目标；</p>
            <p class="title">4，情感薄弱，不善于表达内心感受及情感，害怕与自己的内心世界接触；</p>
            <p class="title">5，凡事皆有目标，以目标为本，如婚姻；</p>
            <p class="title">6，别人对自己的印象、形象是最重要的，故重视自己的形象，以赚取他人的欣赏；</p>
            <p class="title">7，喜欢与能干的人为伍。</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>受排挤不被接纳
            </div>
        </li>
        <li>
            <div class="title" style="width:495px;">
                <p>深层渴望：</p>被欣赏、赞赏、认同、注目、掌声
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="/images/main/Representative/＃3_郭富城.jpg">
                <a href="javascript:;" class="look"><h6>郭富城</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃3_克林顿.jpeg">
                <a href="javascript:;" class="look"><h6>克林顿 (Bill Clinton)</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃3_李嘉诚.jpg">
                <a href="javascript:;" class="look"><h6>李嘉诚</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃3_刘嘉玲.jpg">
                <a href="javascript:;" class="look"><h6>刘嘉玲</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃3_马云.jpg">
                <a href="javascript:;" class="look"><h6>马云</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃3_普京.jpg">
                <a href="javascript:;" class="look"><h6>普京 (Vladimir Putin)</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃3_希拉里.jpg">
                <a href="javascript:;" class="look"><h6>希拉里 (Hillary Clinton)</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃3_张国荣.jpg">
                <a href="javascript:;" class="look"><h6>张国荣</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃3_张智霖.jpg">
                <a href="javascript:;" class="look"><h6>张智霖</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃3_章子怡.jpg">
                <a href="javascript:;" class="look"><h6>章子怡</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃3_郑秀文.jpg">
                <a href="javascript:;" class="look"><h6>郑秀文</h6></a>
            </li>  
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》只要我愿意做的事我一定做得很好</p>
        <p>》我总是在别人面前表现我的乐观积极和进取</p>
        <p>》生命如果没有目标那活着必枯燥而没有意义</p>
        <p>》我喜欢听赞美的言辞,在公众场合我喜欢成为别人目光的焦点</p>
        <p>》我不喜欢跟别人太过亲蜜怕被人发现我有弱点</p>
        <p>》我是一个做事很讲效率的人所以我总争取时间、空间使自己成功。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》生命中如果没有了目标那活得实在没什么意义要想办法追寻&nbsp;</p>
        <p>》为了追求新东西如果让自己慢下脚步就没效率了别人说我好高骛远我觉得那正是我的本事&nbsp;</p>
        <p>》我的外表亮丽我也积极乐观但一停下脚步内心深处也有悲观、无望的时候&nbsp;</p>
        <p>》为了博人好感常常表现出对别人很关心也很有兴趣的样子&nbsp;</p>
        <p>》如果每天无所事事我会讨厌自己觉得面目可憎&nbsp;</p>
        <p>》有时候真怕别人比自己行所以拼命上进好像我的疑心病也很重&nbsp;</p>
        <p>》表面形象对我来说太重要了我常用外表的装饰盖住自己真实的情感&nbsp;</p>
        <p>》我好喜欢别人夸奖我尤其我最满足的是掌声及不断地赞美的言辞。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A嘴里常夸耀自己的好、自己做的每件事都棒、自我膨胀得厉害。&nbsp;</p>
        <p>B跟人在一起就推销自己、广告自己、替自己加深知名度。&nbsp;</p>
        <p>C常常拿一些大人物、名人的名字与自己连在一起表示自己交友广有办法。&nbsp;</p>
        <p>D 很爱出风头卖弄自己的才华地位、甚至身材。&nbsp;</p>
        <p>E做事有效率也会找快捷方式、聪明、灵活、模仿能力强演什么像什么。&nbsp;</p>
        <p>F看不见别人的好把别人的功劳也放在自己身上而不觉得有什么不对。&nbsp;</p>
        <p>G喜欢当主角希望得到大家的注意力觉得自己值得被爱别人没付出会很沮丧、很生气。&nbsp;</p>
        <p>H嫉妒心强喜欢跟别人比较。&nbsp;</p>
        <p>I对于一些琐事或家事不太肯花心思。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>身体语言：</em>开放、热情、强者型动作快 , 转变多面部表情、眼神:三号成就型人的目光聚焦、有神说话时喜欢和别人眼神交流看起来很机灵。
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>衣着讲究配搭整齐仪表出众讲究名牌通常三号无论男士还是女士他们的装扮光鲜符合主流审美是时尚的一群。他们比较在意名牌通常都会比较符合当时所在场合。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>因为三号的人属于情感中心所以说的话基本不需要通过太多的逻辑思维参考而比较偏向于注重感觉加上其急性子的性格通常他们的语速都会比较快但是如果在特定的训练和场合下他们也会很明白这个环境需要他们怎样的说话模式。因为三号人特有的超强学习和模仿能力使他们可以很快地改变自己。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>目的、目标、成果、价值、抓紧、做事情、行动、赞扬、认同、能力、水平、第一、最好、竞争、面子、形象。
    </div> 
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>工作中设立目标目标是近期的且是他们努力后可实现的。目标对于3号来说太重要了若是没有了目标看不到未来他们就会完全丧失斗志发挥不出其应有的能力。作为领导者在对他们进行工作安排时就要注意一定要给他们设立阶段性目标这个目标不能过低没有挑战性的工作对他们是没有吸引力也是没有成就感的目标也不能太高在他们努力以后目标依然无法实现的话他们就会感觉非常沮丧。因为他们是成就来衡量自身价值的。若是努力后依然没有成就他们就会对自身的价值产生怀疑。因此短期的、可实现的目标有利于激发出他们的工作热情目标实现以后也可以增强他们的信心提高对工作的热情。 </p>
        <p>善于发现他们身上的观点适时对其进行表扬和肯定。3号最需要的就是认同感。当他们完成规定的任务或是取得一定的进展亦或是在某一方面有所进步时领导者最好是当众欣赏他们、肯定他们让他们感受到自己的付出是值得的。  </p>
        <p>引导他们正确看待竞争与合作勇于面对失败。成就型的人喜欢竞争极力避免失败。在他们看来被别人喜欢是因为自身的成就而并不是因为自己本身。为此他们会努力表现力求自己在别人眼中是成功的、优秀的形象。时常把自身的注意力过多地放在工作上对自己和他人的感受则关注的很少。因为过于注重竞争也不利于团队的合作和良好人际关系的形成。领导者要有意识地安排他们与团队成员共同合作以团队成就评优论处。在他们工作出现失误的时候也不要全权否定他们鼓励他们勇敢地面对失败。 </p>
        <p>引导他们学会规划。为了尽可能地提高工作效率成就型的人会同时做好几件事情。他们往往更注重执行在执行中出现问题后再随时修改事先规划工作做的不是很好。领导者可以鼓励他们在开展工作之前做好规划不打无准备之战。 </p>
        <p>成就型的人可能成为公司最有业绩的员工或是最优秀的团队领导者也可能成为公司最不稳定的份子时常跳槽。关键还是在于领导者如何对其进行有效管理。</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、目标明晰、头脑清醒、条理分明纵然置身混乱的情境中亦不会在工作中迷失方向&nbsp;</p>
        <p>2、 热力四射、活力十足与人融洽相处给团队带来凝聚力&nbsp;</p>
        <p>3、 懂得灵活变通效率惊人&nbsp;</p>
        <p>4、 上佳的推销员口齿伶俐说服别人轻而易举&nbsp;</p>
        <p>5、 善于在分裂的团体成员间组合共识催化向心力&nbsp;</p>
        <p>6、 组织能力、领导能力强能为各成员定下恰当职分&nbsp;</p>
        <p>7、 满怀自信是让人信服的领导者&nbsp;</p>
        <p>8、 能推动团队把事情办好找出聪明的解决办法&nbsp;</p>
        <p>9、 面对团队危机时能冷静应付知道如何避免冲突&nbsp;</p>
        <p>10、追求成就感的出发点使他们对工作充满热诚。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>开拓者、攻坚者、公关者促进者。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>创业、市场、销售、职业经理、公关、策划、演员、主持、培训师等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em>有竞争有成长的空间着重形象具竞争性结果是可以计数、努力及成功会受奖励的环境。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>平静安稳不能体现三号的能力不能得到及时的认同迷失于人群中的环境。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>目标管理</p>
        <p>1、正面促动与激励员工</p>
        <p>2、业绩导向注重效率和表现</p>
        <p>3、过于自信、成功幻想</p>
        <p>4、不断拉项目、提更高目标节奏过快过急、给下属压迫感</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、关心员工和自己的感受不要“工具化”员工</p>
        <p>2、超越短期目标建立长远目标</p>
        <p>3、放慢速度平衡风险和员工的能力</p>
        <p>4、切忌个人英雄主义减轻竞争意识学会合作</p>
        <p>5、不要“归功于己归罪于外”把舞台让给员工</p> 
    </div>
</div>