@{
    ViewBag.Title = Localizer["4号 (心中心情感主导) 4号 独特型/感性型"];
    ViewBag.Enneagram = 4;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>4号 (心中心情感主导) 4号 独特型/感性型</div>
        <div class="titler f-30 c-blue mt-30">
            成功是不断订下新目标，又不断完成，追求成就是我工作的原动
            <br>力，亦以成就来厘定自己的价值。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn" style="width:605px;">
            <p class="title">1,一生追求浪漫一生充满感觉要有情感并不一定善于表达自己；</p>
            <p class="title">2,情感区域广阔包括开心及悲伤甚至享受伤感；</p>
            <p class="title">3,遇到别人否定时往往退缩而不会争论或抗辩；</p>
            <p class="title">4,不喜欢别人否定的感觉又常常觉得别人不明白自己；</p>
            <p class="title">5,人生没有完美生命总有缺憾；</p>
            <p class="title">6,与人分享的不单是喜悲亦同样重要；</p>
            <p class="title">7,强烈的占有欲有时妒忌有时是羡慕；</p>
            <p class="title">8,我行我素；</p> 
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>有瑕疵
            </div>
        </li>
        <li>
            <div class="title" style="width:460px;">
                <p>深层渴望：</p>独特、与众不同、我是谁
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="/images/main/Representative/＃4_冯德伦.jpg">
                <a href="javascript:;" class="look"><h6>冯德伦</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃4_梁朝伟.jpg">
                <a href="javascript:;" class="look"><h6>梁朝伟</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃4_林黛玉.jpg">
                <a href="javascript:;" class="look"><h6>林黛玉</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃4_三毛.jpg">
                <a href="javascript:;" class="look"><h6>三毛</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃4_舒淇.jpg">
                <a href="javascript:;" class="look"><h6>舒淇</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃4_王菲.jpg">
                <a href="javascript:;" class="look"><h6>王菲</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃4_谢霆锋.jpg">
                <a href="javascript:;" class="look"><h6>谢霆锋</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃4_张曼玉.jpg">
                <a href="javascript:;" class="look"><h6>张曼玉</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃4_周杰伦.jpg">
                <a href="javascript:;" class="look"><h6>周杰伦</h6></a>
            </li> 
            <li>
                <img src="/images/main/Representative/＃4_周星驰.jpg">
                <a href="javascript:;" class="look"><h6>周星驰</h6></a>
            </li>  
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我常常觉得有好多情绪包围着我让我无所适从</p>
        <p>》我总是很关心别人、爱护别人但别人都不了解我我好迷惘、失意、落寞</p>
        <p>》我常被自然的美碰触到内心深处禁不住自怜、自伤起来</p>
        <p>》我喜欢与自己喜欢的人关系亲密我好害怕失去别人的感情</p>
        <p>》我对我所爱的人绝对忠实爱情滋润我的生命没有它生命会干枯</p>
        <p>》好多复杂、繁琐的事要做好讨厌面对这些我的心不小心就飘得好远好远</p>
        <p>》我每天都在反省自己也不断地探索生命的意义在哪里</p>
        <p>》跟我生活没有关联的事我真不喜欢听我觉得好无聊</p>
        <p>》看到别人拥有的优点我会很伤心自己为什么没有心情立即不开心、沮丧做什么事都没劲了</p>
        <p>》我对自己想要的东西及情感都非常敏感有时候过度要求就失去原本的美跟纯真。</p>
    </div>
</div> 
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A非常情绪性的人一天的喜怒哀乐多变&nbsp;</p>
        <p>B用幻想来增加自己的情绪并享受它&nbsp;</p>
        <p>C缄默、害羞活在自己的情绪感受中让人不了解&nbsp;</p>
        <p>D常常表现不快乐、忧郁的样子充满痛苦又内向害羞&nbsp;</p>
        <p>E初见陌生人时表现得很冷漠神秘又高傲的样子&nbsp;</p>
        <p>F感情很容易受伤是非自我肯定的人常常看脸色行事&nbsp;</p>
        <p>G被生活中多样化及不寻常的东西吸引活得飘忽像一朵云&nbsp;</p>
        <p>I常常觉得好累把自己的心和别人的心隔得好远好远这时候好像整颗心被困住无法正常地运作&nbsp;</p>
        <p>J是很真、很坦白也善良的人不容许别人的不真、不坦白&nbsp;</p>
        <p>K能量很低常常懒懒散散生活得不起劲&nbsp;</p>
        <p>L由于心地很善良所以总不愿伤害别人但常觉得别人伤害自己所以爱埋怨&nbsp;</p>
        <p>M常说一些抽象、幻梦的比喻让别人听不太懂其隐喻。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>身体语言：</em>动作优雅慢
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面部表情和眼神：</em>典型四号自我型性格者的眼神是很有情的但是他们不像是二号的柔和也不像是三号的精明而是更多的深情、忧郁、迷离和害羞通常会拥有一双柔情似水的眼神目光有所思忆感性而迷人。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>着装特点：</em>四号的衣着最贴切的形容就是“独特”虽然心区的朋友都在意形象但是四号更加希望给别人留下的是一种与众不同的感觉即便是廉价的衣服他们也会通过搭配或者是饰品穿出特别的气质和味道。有经济条件的四号也会选择名牌但是和三号不同的是四号通常不会“追逐”名牌他们更加愿意挑选一些能够突出品质和味道的衣服类型。有眼光而不落俗套讲究配搭和款式有艺术家的气质有时会十分突出而令人震惊
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>四号是所有的型号当中和自己的感受接触最深的型号所以他们的语言模式不会是很冷静的数据分析和理性判断而更多表达的是自己的感受和感觉。他们的语言是所有的型号中最感性的。
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>四号语言中经常出现的词汇：</em>意义、浪漫、感觉、心情、情绪、品味、味道、独自、独特、与众不同、不一样、创意、我认为、我觉得
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>四号把太多的感受放在自己的心中他们对人性有着真实的触碰有着浓烈的情感。他们觉得自己是独一无二、与众不同的在这个世界上没有人真正的明白他们的心所以他们是矛盾的虽然他们因为自己的“特别”而显得卓尔不群但是更多的时候他们也会因为自己的“特别”而感觉羞愧所以很多时候外在的他们看起来会比较“内向”不太合群容易和人保持一定的距离。
    </div> 
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>4号是一个非常独特的型号他们追求独特、情绪化、内在有着一股忧郁气质总是给人一种琢磨不透的感觉。4号们大多有着独特的才能是难得的天才只要管理适当他们将会是公司的一笔宝贵财富。 </p>
        <p>允许他们按照自己的安排去工作。如果作为一名管理者你的职员中有一个4号的员工你会发现很多时候你安排给他们一项工作很长时间你都不会看到他们动手去做但是他们却总能按时完成。4号是一个非常遵从内心感觉的型号即使是工作他们也希望能够听从内心的感觉。感觉来了他们就会去做没有感觉的时候他们宁愿玩也不会强迫自己去做的。在他们看来那样既违背自己的内心工作效果也不会好。因此对于4号员工领导者还是需要适当放手、少加干涉的。对于一项任务安排给他们后允许他们按照自己的意愿、自己的规律去工作只需要规定一个完成日期即可。很多4号他们更多的是注重结果为了结果他们可能在过程中体验很多产生出很多不同的好的创意。 </p>
        <p>善于沟通。4号是感受型的人他们太在意自己的感受因此时常会有些情绪化。在与4号员工沟通的过程中要尊重他们的情绪哪怕在我们看来他们的反应有些夸大的倾向也要相信这些都是他们最真实的情绪反应。还要注意的是在交流的过程中领导者一定要真诚敏感的4号对真假会有很明显的辨识他们最不能忍受的就是虚假。 </p>
        <p>合适的人放在合适的位置上。4号性格者一般会有两种工作“养家糊口的工作和艺术家的真正工作”。他们喜欢那些需要经过一定身体训练才能完成的工作像舞蹈艺术家。同时他们也非常注重追求内心的高层次加之其敏感的情绪感受能力可以成为很好的心理咨询师。普通环境下的世俗工作是他们所厌恶的在那种环境下工作他们会有一种“虽然我现在在工作但那不是我”的感觉。他们不适合服务性的、默默无闻的或者无法表现他们才华的工作。对于4号员工要想发挥出他们应有的才能就需要对他们进行深度访谈及考察把他们安排在最适合的位置上。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>在各类类型人中第四型人的创造力和艺术感是无出其右的他们对日常事物有着过人的洞察力而且会用意想不到的方式将之重新排列、整合起来这种惊人的创作力常常叫人击节赞赏 </p>
        <p>他们在热情洋溢、精神亢奋时所爆发出来的能量是惊天动地的这时他们会突然变为一个精力饱满的人会不眠不休地完成手上的目标 </p>
        <p>真诚、坦率说话不会转弯抹角不会阿谀奉承如果能接受他们不耍嘴皮的坦白可爱他们也是可以与人交心的 </p>
        <p>只要他们视为可以真诚交往的人他们会为朋友仗义而不计较自身的付出</p>
        <p>敏感度极高对人的不幸遭遇有深层且天赋的同情心会立刻抛开自己的麻烦去支持受苦的人 </p>
        <p>非常重视真实因此忠于自己的感情和行径天真率性</p>
        <p>抗拒现存制度和规律能带给人全新的角度去理解、欣赏世界。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>设计者、创意者、助人者
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em> 艺术设计、摄影、绘画、音乐、舞蹈、戏剧、广告、文学、演员、培训师、人文社科、自由职业、宗教、哲学、心理咨询、慈善等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em> 艺术设计、摄影、绘画、音乐、舞蹈、戏剧、广告、文学、演员、培训师、人文社科、自由职业、宗教、哲学、心理咨询、慈善等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>刻板枯燥的重复性的工作。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>人性化管理、愿景管理</p>
        <p>1、理想主义关注愿景和事业的深层意义</p>
        <p>2、自我中心、跟着感觉走随意性强</p>
        <p>3、喜欢革新与创造、唤醒员工真实激情</p>
        <p>4、关注下属真实的需要和个性</p>
        <p>5、脉冲式激情状态不稳定。</p> 
        <p>管理风格凭感觉做决定快创造力强、想法独特、直觉力强醒觉力差容易捕捉市场先机但也容易忽略风险与成本。容易感情用事、情绪化。</p> 
        <p>容易出现的问题当情感或关系出现问题时容易被干扰。有时随意性太强顺境时热情高涨逆境时心情沮丧甚至有逃避的倾向。</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、形成系统清晰计划、步骤关注具体目标建设“理想的现实”</p>
        <p>2、领导愿景把琐碎而具体的执行交给别人</p>
        <p>3、不要为了“不一样”走一条死路</p>
        <p>4、切忌“想一出是一出”保持稳定</p> 
    </div>
</div>