@{
    ViewBag.Title = Localizer[" 5号 (脑中心思考主导) 探索型/思想型"];
    ViewBag.Enneagram = 5;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i> 5号 (脑中心思考主导) 探索型/思想型</div>
        <div class="titler f-30 c-blue mt-30">
            我喜欢掌握信息钻研学问了解周遭一切事物的原理、结构、因果<br>以及宏观全局所以我会至多识广。我又非常需要有私人空间静静<br>地一个人去思考不同事件又毋须与他人沟通。
             
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p class="title">1需私人空间、喜个人活动</p>
            <p class="title">2冷眼看世界情感抽离、对感觉、情绪能以“第三者”身份冷静分析</p>
            <p class="title">3以思想、理性为主导活在脑海思想世界中</p>
            <p class="title">4将朋友分离有安全感</p>
            <p class="title">5对生活质素要求不高可自给自足但要知很多行动与否则做别论</p>
            <p class="title">6要做有意义的事。简单事情复杂化。不实际</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>无知
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>认识、了解一切
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="/images/main/Representative/＃5_爱因斯坦.jpeg">
                <a href="javascript:;" class="look"><h6>爱因斯坦(Albert Einstein)</h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃5_巴菲特(Warren Buffett).jpg">
                <a href="javascript:;" class="look"><h6>巴菲特(Warren Buffett) </h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃5_比尔盖茨.jpg">
                <a href="javascript:;" class="look"><h6>比尔.盖兹(Bill Gates)  </h6></a>
            </li>
            <li>
                <img src="/images/main/Representative/＃5_高锟.jpg">
                <a href="javascript:;" class="look"><h6>高锟</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃5_葛林斯潘(Alan Greenspan).jpg">
                <a href="javascript:;" class="look"><h6>葛林斯潘(Alan Greenspan) </h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃5_霍金(Stephen Hawking）.jpg">
                <a href="javascript:;" class="look"><h6>霍金(Stephen Hawking)</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃5_马化腾.jpg">
                <a href="javascript:;" class="look"><h6>马化腾</h6></a>
            </li> 
            <li>
                <img src="~/images/main/Representative/＃5_马克思.jpeg">
                <a href="javascript:;" class="look"><h6>马克思(Karl Marx) </h6></a>
            </li> 
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我常为别人的行为没有经过一番仔细、冷静地思考而做出来的感到非常的惊讶及受不了。</p>
        <p>》当我不是很了解别人行为的动机时为了保护自己我总保持距离。</p>
        <p>》我的思虑一向周详因此我善于提供计谋当参谋是我的专长,我的社交活动大部份是被动的.</p>
        <p>》我常因思考过多而绑手绑脚并错失很多唾手可得的机会。</p>
        <p>》我喜欢看书及收集资料以确定我做事与为人处事的准则。我常常被不同的人吸引但又因不了解人是怎么运作情绪和情感的所以我害怕与人相处宁可埋首工作及书堆感觉比较安全。</p>
        <p>》我的聪明可使我展露有驱动人的思想使别人被我的智慧吸引。在我没有绝对弄清楚每一件事之前我不轻易行动。</p>
        <p>》我细心观察每件事并用我的智慧和学识去分门别类因此所有的脉络都了如指掌。</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》知识比人容易了解及掌握所以我跟人有隔离的感觉也怕与人接触&nbsp;</p>
        <p>》喜欢独处、思考想一些人间及宇宙的哲理和奥秘并归类分析&nbsp;</p>
        <p>》对知识有强烈的渴求所以大量的收集各方面的资料&nbsp;</p>
        <p>》在跟人相处时常有挫败感或许觉得别人无法了解自己但最重要的是别人总是知识匮乏难以谈话&nbsp;</p>
        <p>》做任何决定前一定先深思熟虑、多方观察、收集数据齐全所以在付诸实行前总是一头栽进去工程浩大但规划后往往最后是放弃机会不去执行&nbsp;</p>
        <p>》社交生活的主动性非常弱在社交生活中总是由别人主动&nbsp;</p>
        <p>》不太在乎外表的装扮物质生活也贫乏但却有极高层次的心灵境界&nbsp;</p>
        <p>》实在不了解一般人为何对既简单又脉络分明的事会弄得如此乱七八糟&nbsp;</p>
        <p>》对于别人的事不热情也不会主动帮忙但在别人的要求下会帮别人仔细分析得条理分明。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A. 沉默、寡言好像不会关心别人似的&nbsp;</p>
        <p>B. 很喜欢一个人独处思考很多问题不喜欢与人讨论&nbsp;</p>
        <p>C. 喜欢独自一个人工作把自己投入完全是自己的世界里独来独往朋友很少&nbsp;</p>
        <p>D. 非常地冷漠、害羞别人想跟他们交朋友好像也打不进他们的世界里&nbsp;</p>
        <p>E. 和没有深度的人交谈令他们厌烦更别谈交朋友&nbsp;</p>
        <p>F. 很喜欢研究宇宙的道理、哲理常觉得生命的意义在于探索未知世界&nbsp;</p>
        <p>G. 常跟别人意见不和并且执着自己的看法一定是对的&nbsp;</p>
        <p>H. 衣着随便不太注重打扮我行我素&nbsp;</p>
        <p>I. 为了读书及收集资料会忙碌到无法打理自己甚至觉得打理自己都太浪费时间&nbsp;</p>
        <p>J. 当别人有事请教会细心倾听帮助别人分析得非常清楚&nbsp;</p>
        <p>K. 彬彬有礼也很有包容力只是跟别人的情感互动不深。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>身体语言：</em>双手交叉胸前上身后倾翘腿面貌、眼神喜怒不言于色木纳不拘言笑经常皱眉头眼神多平和、淡然与冷静没有攻击性也不会游离。 
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>简单朴素给人感觉文静深沉而有书卷气独来独往、有距离感。说话模式五号说话有条理、理智语速相对比较慢声调平和不会有很大的起伏。一般会正面回答问题不会绕圈子。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>五号常用的词汇：</em>我想我认为我的分析是……我的意见是……我的立场是…… 
    </div> 
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>1、把他们安排在适当的岗位。每个人身上都有价值点关键在于是否能够把他们的价值点挖掘并利用起来。作为脑区的5号相较于其他的型号更为内敛一些在同样的知识、资历条件下他们更加适合的是进行一些资料的收集、知识的整合以及调研类型的工作。若把他们硬性安排在销售类的岗位上可能不会发挥出他们的价值。5号对那些让他们置身于众目睽睽之下的接触特别敏感。向他人推荐自己、与他人竞争或者向他人表示爱意或者仇恨都让他们觉得自己被他人所控制。</p>
        <p>2、给予他们的压力要适当给予他们充足的思考时间。5号会因为他人的积极期待而感受到压力。对他们来说安全距离就意味着“不被包括在内”除非他们获得的亲密关系能够保证他们的独立否则他们就会想办法逃避。在工作中领导者不可避免地会对员工施加一定的压力但对于5号员工要慎重一些过多的积极期待反而不利于他们的成长。另外对于一些重要的决定要给予他们单独的思考时间他们不喜欢被催促或被迫做一些事情。</p>
        <p>3、肯定他们的学识。5号性格的人很少去关心财富和物质享受。在他们看来金钱的唯一好处就是能够让自己不受干扰能够购买私密生活能让自己有更多时间去学习和追求他们感兴趣的方面。但他们对于知识却有着强烈的渴求。激励5号员工的最好方法不是物质奖励而是对他们学识的认可与尊重。在与他们沟通时最好是用请教的方式这样可以引起他们的好感。认真听取他们对于某个问题的分析他们对知识的广泛涉猎以及对于对知识的统筹整合相信会对你有所帮助的。</p>
        <p>4、尊重他们的空间和界线不过分干涉他们的私密空间。5号是非常注重个人私密的他们的房间、抽屉、文件夹都是不允许别人轻易触碰的。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>	善于将大量资料有条不紊地分门别类而得到一个合乎逻辑的结论会成为某个特定领域的专家 	</p>
        <p>	有过人的洞见和分析力可以提出不同问题的解决方法供人参考适合担任“顾问”或参谋。 	</p>
        <p>	心思十分细密计算精确能将自己抽离于一切感情因素之外有超人的冷静、客观头脑 	</p>
        <p>	学习能力很强观察敏锐很快便能捕捉到问题的关键有革新精神足以产生极有价值且具创见的新观念 	</p>
        <p>	富有宗教情操喜爱探索宇宙人生的奥秘形成深奥的观念和学问能融会贯通达到常人无法理解的深度	</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>思考者、 研究者、分析者、规划者。 
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>专家、学者、教师、科研、咨询、顾问、IT、技术、分析师、规划师、理论家等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境 ：</em>有充足的时间分析和思考独自工作不被打扰人际关系简单不适合的工作环境 公开竞争及对抗大量人际交往和应酬
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》科学系统管理</p>
        <p>1、技术主义凭借智力、分析判断进行管理</p>
        <p>2、隐身管理、喜欢遥控缺乏人情味</p>
        <p>3、善于战略规划和系统搭建</p>
        <p>4、注重成本、功能的整体理性平衡。</p> 
        <p>管理风格决策慢往往在之前要做大量的分析、调研过于关注系统分析和逻辑掌握趋势、醒觉能力强客观、理性、决策准确。但有时时间太长会错过大好的机会。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、多与员工连接关怀和互动&nbsp;</p>
        <p>2、增强执行力不要只想不做</p> 
    </div>
</div>