@{
    ViewBag.Title = Localizer["6号 (脑中心思考主导) 疑惑型/忠诚型"];
    ViewBag.Enneagram = 6;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>6号 (脑中心思考主导) 疑惑型/忠诚型</div>
        <div class="titler f-30 c-blue mt-30">
            我对事物时常有不少疑虑及担忧而事后又发觉是过份的。<br>我时常怀疑自己的能力无论做的多好也需要别人的肯定方能安心。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p class="title">1做事小心谨慎不轻易相信别人</p>
            <p class="title">2喜欢火灾保护伞下不喜受人注视</p>
            <p class="title">3事情未做或未发生前已有很多疑虑及担心</p>
            <p class="title">4能为所属团体尽心尽力</p>
            <p class="title">5时常预计最差的景况有时只是想象的恐惧过于担忧</p>
            <p class="title">6安于现状不喜转换新环境</p>
            <p class="title">7为别人做事在所不计没有私心但对只关乎自己利益的事可能不大重视。</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>不安全
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>安稳有保障
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="~/images/main/Representative/＃6_布什.jpeg">
                <a href="javascript:;" class="look"><h6>乔治.布什 (George Bush)</h6></a>
            </li>   
            <li>
                <img src="~/images/main/Representative/＃6_尼克逊.gif">
                <a href="javascript:;" class="look"><h6>尼克逊(Richard Nixon) </h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃6_希特勒.jpg">
                <a href="javascript:;" class="look"><h6>希特勒(Adolf Hitler) </h6></a>
            </li> 
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我和家庭与朋友的紧密关系使我感觉充实而不孤独。&nbsp;</p>
        <p>》我常不清楚别人对我感觉如何因此我曾用各种方式考验别人以搜集别人对我喜欢与否的证据。&nbsp;</p>
        <p>》我很清楚我的焦虑有时可以抗拒它但多半时候我不由自主屈服于焦虑之下。&nbsp;</p>
        <p>》在我极端焦虑之下我曾倾向于指责并怪罪别人。&nbsp;</p>
        <p>》我需要权威人士来指引我什么事该做什么事不该做。&nbsp;</p>
        <p>》我很有责任感并努力做好与团队精神有关的事我忠于团体。&nbsp;</p>
        <p>》我讨厌别人对团体的付出不够及不忠。&nbsp;</p>
        <p>》我努力做我该做的事而且我相信我的能力但周围的人总是如此懒散没有规距真气人。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》是一个有耐力有活力的人做事情时总抱着严肃的态度很认真、很勤奋。&nbsp;</p>
        <p>》相信权威人士尤其是对自己崇拜的权威人士表现得忠心耿耿。&nbsp;</p>
        <p>》对人生的看法是应忠诚于家人、团体及国家。&nbsp;</p>
        <p>》非常讨厌不负责任的人并且嫉恶如仇。&nbsp;</p>
        <p>》做任何事或重大决定之前绝对地需要参考别人的意见。在未做决定前心理充满焦虑常用愤怒来表达情绪。&nbsp;</p>
        <p>》生活规律化时间表排得很紧凑所以对太有弹性的人会表示自己的不信任。&nbsp;</p>
        <p>》由于害怕犯错所以总是小心谨慎但一旦犯错就会把错推到别人身上以减轻自己的罪恶感。&nbsp;</p>
        <p>》很注重团体规则及纪律如果有人不遵守会对别人不满。&nbsp;</p>
        <p>》很善良、很努力尽忠职守所以为了家及团体的成员的生活习惯与自己不同而调整自己的原则和规律。&nbsp;</p>
        <p>》 尊重权威但一旦发觉此权威不值得尊敬会立刻反此权威。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A他们常常可爱逗趣也常常粗野暴躁很难捉摸。&nbsp;</p>
        <p>B他们一下子欣赏自己充满权威又一下子优柔寡断依赖别人。&nbsp;</p>
        <p>C有时非常顺从有时又公开地反抗性格极端矛盾。&nbsp;</p>
        <p>D想得太多又无法决定因此在采取行动充满困扰回答问题更是缓慢。&nbsp;</p>
        <p>E相当情绪化因为受到焦虑的影响无法自己做出重大决策并且不安。&nbsp;</p>
        <p>F别人不努力时会一面做一面骂。&nbsp;</p>
        <p>G很注重传统的人遵守传统规则才心安理得情绪稳定。&nbsp;</p>
        <p>H讨厌被利用、被轻视。&nbsp;</p>
        <p>I常常不知道自己的真正感受所以要从考验别人中来了解别人眼中的自己。&nbsp;</p>
        <p>J做决定时喜欢听取别人的意见一有差错立即怪罪别人。&nbsp;</p>
        <p>K直接的攻击行为常因冲动而发生发生后也很自责但死鸭子嘴硬不道歉还要别人道歉。&nbsp;</p>
        <p>L他们的幽默其实不是真幽默常常是讽刺。&nbsp;</p>
        <p>M没有明显的敌人存在时情绪就无从发泄不舒服就找一个代罪羔羊好发泄自己的攻击性。&nbsp;</p>
        <p>N他们对事情常常反应过度因为爱瞎疑心。&nbsp;</p>
        <p>O他们会激怒对方引来莫名其妙的吵架其实是在试探对方爱不爱自己。&nbsp;</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面貌、眼神：</em>因为自己内心的不安六号疑惑型对周围的环境时常保持着警惕所以他们的眼睛会是游离的、冷静的、机警、保持洞察力、没有感情色彩甚至是冷冷的和人有距离。反恐惧型六号的眼神则会带有攻击性。衣着六号的朋友注重的是安全所以他们穿衣服相对比较保守。他们对色彩的选择会是比较普通和低调的。六号不会穿得很怪异、夸张和另类的衣服是因为他们不想成为众人的焦点。 
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>说话模式：</em>“凡事给自己留有余地”是六号的立身之本他们的语言模式也是遵从于这个原则——他们不会一下子把话说满令到自己没有回旋的余地而是会谨慎地选择中庸之道。他们很少说“绝对”、“一定”这样肯定的字眼而是更多的用“有可能”、“也许”这样的模糊辞令。“凡事给自己留有余地”是六号的立身之本他们的语言模式也是遵从于这个原则——他们不会一下子把话说满令到自己没有回旋的余地而是会谨慎地选择中庸之道。他们很少说“绝对”、“一定”这样肯定的字眼而是更多的用“有可能”、“也许”这样的模糊辞令。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>万一、我担心、恐惧、别人怎么看我、有什么问题、可靠、风险、不可收拾、不一定、不确定、遗漏、稳定、稳妥、周全、全面、怀疑、相信、真诚、忠诚。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>六号的朋友身体有很多的焦虑所以他的身形会是比较紧绷的跟9号的放松和慵懒完全相反。因为内耗比较大所以很多六号的朋友尤其是反恐惧型的六号身材会是比较消瘦的。
    </div>
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>对于六号下属首先对六号下属来说你要给他提供清晰的指导指引他路在哪里通往何方该如何前进他就会举得安心才能信任你忠诚的走下去。如果缺乏这种引导六号下属会停滞不前摇摆不定他们缺乏探索的精神和冲劲会变得焦虑这时就需要上司和同事给他鼓励与支持。</p>
        <p>其次六号下属不喜欢变动。六号的工作做得好你可以选择给他加薪或是额外的奖励不要轻易改变他们的工作环境有时升职反倒会降低他们的工作效率。另外定好的工作制度和规划不要轻易改变这会让六号下属感觉责任不清晰而放弃承担责任。</p>
        <p>最后六号的下属还需要一些压力太大的空间会让他们感觉不舒服适度的压力反而会让他们更有存在感。掌握了六号下属的心理选择合适的沟通和管理方法六号就会成为一个忠实、可靠、勤恳的“黄金搭档”。</p>
        <p>对待6号员工需要对他/她多一些耐心对于他们的问题尽可能地做出明确的答复。他们问的问题越多说明他们内心的不确定感越强烈就要对他们多一些引导对于问题的答复越明确、越详细就越能减轻他们的疑虑。当取得6号的信任后他们将会是最忠诚的员工分配给他们的任务他们必将全力以赴地保质保量完成。</p>
    </div>
</div> 
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>策划者、风险规避者、危机处理者、 执行者。  
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em> 参谋、顾问、咨询、制度建设、HR、保卫、情报、公务员、军人、职员等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em>有清楚的权力架构有清晰的指引和责任界限。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>没有规则及操作标准工作创新要求高
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>制度化管理/危机管理</p>
        <p>1、严谨认真制度建设专家</p>
        <p>2、注重团队忠诚和承诺</p>
        <p>3、顾虑太多、决策犹豫不决</p>
        <p>4、总容易往最坏处想太多“万一”</p>
        <p>5、总看到“问题”和“漏洞”不易表扬别人</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、学会信任他人不要过度“考验”</p>
        <p>2、多去正向激励员工、鼓舞人心不要老“吓唬”他人</p>
        <p>3、笑对无常任何决策都有风险 勿因“担心”错失良机</p>
    </div>
</div>