@{
    ViewBag.Title = Localizer["7号 (脑中心思考主导) 活跃型/开朗型"];
    ViewBag.Enneagram = 7;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>7号 (脑中心思考主导) 活跃型/开朗型</div>
        <div class="titler f-30 c-blue mt-30">
            我讨厌重复沉闷的事情或空闲时间故必定为自己计划很多活动。
            <br>我讨厌重复沉闷的事情或空闲时间故必定为自己计划很多活动。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p class="title">1不接触负面情绪以活动来逃避痛苦或不安的感觉&nbsp;</p>
            <p class="title">2乐观但不易发觉身边的问题&nbsp;</p>
            <p class="title">3凡事要有选择。不停试新事物追上潮流但流于表面&nbsp;</p>
            <p class="title">4怕重复、沉闷要有变化及新鲜感&nbsp;</p>
            <p class="title">5不喜承受压力不轻易下承诺&nbsp;</p>
            <p class="title">6没有阶级观念忽视权威认为上司与下属无异&nbsp;</p>
            <p class="title">7不断追寻新鲜的刺激和经验。&nbsp;</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title" style="width:350px;">
                <p>深层恐惧：</p>怕闷、怕辛苦、怕束缚
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>无拘无束
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="~/images/main/Representative/＃7_甘乃迪.jpg">
                <a href="javascript:;" class="look"><h6>甘乃迪(John Kennedy) </h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃7_黄沾.jpg">
                <a href="javascript:;" class="look"><h6>黄沾</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃7_倪匡.jpg">
                <a href="javascript:;" class="look"><h6>倪匡</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃7_许冠杰.jpg">
                <a href="javascript:;" class="look"><h6>许冠杰</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃7_袁咏仪.jpg">
                <a href="javascript:;" class="look"><h6>袁咏仪</h6></a>
            </li> 
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我渴求满足欲望的力量很强烈因此我有需要我要立刻满足我自己</p>
        <p>》我很喜欢生活于人群中参加多样性地活动使生活变得很有趣</p>
        <p>》人是因为快乐而存在世上,所以立即满足自己的所想,是人生最重要的事。</p>
        <p>》我常会为自己和他人带来快乐</p>
        <p>》我对感官知觉特别敏锐,所以外在的丰富世界,总让我觉得又快乐又刺激</p>
        <p>》我常觉得想太多烦恼太多的人真无趣事实上明天会更好</p>
        <p>》我常被人觉得多才多艺事实上学习任何技能都很容易而且好玩</p>
        <p>》我很喜欢拥有财富因为财富可使每个人享受美好及奢华的生活</p>
        <p>》我想要拥有并经历更多并经历更多新鲜事如此一来我可以生活在更快乐中</p>
        <p>》别人都看我是热衷于社交并有趣的人其实我讨厌别人冗长的故事听起来好烦</p>
        <p>》我不喜欢听不好或不幸的事,那会让我情绪低落,所以最好不要告诉我</p>
        <p>》我过得很好很快乐每件事都好玩没有什么事情值得我烦心。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》兴趣广泛多才多艺所以只要自己愿意跟任何人都能谈笑自如幽默风趣</p>
        <p>》喜欢生活是丰富而多面化有时也喜欢找些心灵的挑战凭添一些生活的乐趣</p>
        <p>》很喜欢做计划更喜欢尝试新奇经验但总虎头蛇尾计划完成后已经不想去执行了</p>
        <p>》身边如果有人发生问题时很快就能替人想出解决的办法</p>
        <p>》放任自己轻松愉快消遥自在也喜欢逗别人跟别人玩</p>
        <p>》幻想一些计划会立刻冲动的去做但冲动过后残局往往由别人去收拾</p>
        <p>》自己耳聪目明想学的事一学就会并且伶牙利齿觉得别人笨</p>
        <p>》很会心疼自己不喜欢过严肃的生活工作中累了一定会安抚自己让自己吃些、喝些、快乐、舒解一下</p>
        <p>》如果有事烦心最好的方法就是别去想它转移一下找找乐子自然就快乐了。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A、喜欢戏剧性、多变化及多采多姿的生活。</p>
        <p>B、他们特别追求满足五官的需求如好吃、好穿、喜欢身体的触觉刺激纵情于娱乐。</p>
        <p>C、如果不停地有感官的活动和刺激他们就觉得生命有意义。</p>
        <p>D、他们是活得乐观并相信明天会更好的人。</p>
        <p>E、他们相信实时行乐是绝对重要的至于明天当然不用耽心。</p>
        <p>F、他们喜欢自由不给自己任何限制有需要时没耐心等待要立刻满足。</p>
        <p>G、比较懒只要躲得过都让别人去处理所以容易与人起冲突。</p>
        <p>H、欲望不能达到或别人限制其自由会非常愤怒。</p>
        <p>I、欲求太多眼大肚子小常因吹牛过头给自己惹麻烦。</p>
        <p>J、生命最大乐趣是与朋友相聚把酒言欢不停的感觉每件事都太好玩了、太有趣了真是快乐。</p>
        <p>K、他们为了自己高兴常不顾虑别人的感受直接了当地表达自己的看法。</p>
        <p>L、他们很少用心去听别人的心情故事喜欢说俏皮话、他们需要别人喝采他们为他们的笑话而笑。</p>
        <p>M、他们自认为人际关系很好囗齿伶俐舌灿莲花甜蜜别人。</p>
        <p>N、很注意自己身体的健康、看起来年轻及充满活力因为那是找乐子的基础。</p>
        <p>O、他们胆子很小只要是经验过的伤害为了害怕重蹈覆彻总是敢做不敢当。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面貌、眼神：</em>七号活跃型人的眼神看起来是灵活的、游离的。六号的眼神也会左看右看可是七号眼神里没有担心和焦虑七号眼神游离不定的原因更多的是想要发现所处环境中还有哪些新奇的事物而不是基于安全。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>七号的服饰是不按常理出牌的看心情而定以舒服为主也有七号会穿着奇装异服只是为了尝试一种新鲜感的。生活中的七号不会穿着非常漂亮但是束缚自己的衣服。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见说话的模式：</em>七号是跳跃性思维所以他们通常说话的内容也很跳跃这一句还在说新疆如何好玩下一句可能就跳到北京的冬天有多冷通常“语不惊人死不休”。容易出现打岔的现象你问了一个这样的问题他们的答案可能跟问题根本就不搭边。或者是在觉得话题沉闷的时候抛出另外一个有趣的话题去转移。
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>七号语言中常常出现的词汇：</em>新鲜、好奇、快乐、很闷、不好玩、兴趣、喜欢、变化、约束、开心、快速、简单。
    </div> 
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>七号的身形高矮胖瘦都有但是无论是怎样的身形他们的姿态通常都比较放松不会有紧绷和僵硬的身体姿态。
    </div> 
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>作为公司的领导者在面对7号员工时需要的不仅是一些常规的公司制度奖惩激励还需要针对其型号特点采用适当的引导策略。</p>
        <p>懂得放手7号向往自由喜欢按照自己的生活方式生活他们不喜欢承受压力不喜欢受到太多的约束。很多时候公司的管理者会发现当给7号的员工规定固定数额的工作量时他们的工作情绪并不是很高并且会有很多的不满情绪。但当允许他们按照自己的想法去工作不对他们的工作方式进行过多干涉时其业绩往往会超出预期。因此对7号员工放手反而是一种很有效的激励政策。</p>
        <p>适当引导在7号员工执行工作的过程中尽可能较少对他们进行干涉但在工作完成后的总结阶段还是需要对他们进行适当引导的毕竟他们倾向于逃避问题喜欢冒险、追求快乐做事缺乏持之以恒的韧性。</p>
        <p>以轻松、愉快的口吻交谈。他们怕闷、怕严肃不喜欢拘谨、无趣的人。在倾听他们的观点时你可能会注意到他们总是在谈梦想和计划有很多不切实际的地方此时领导者不必马上点出把它当成一种分享想法、分享喜悦的方式即可。当你提出与之不同的见解、方案时当下他们可能会有些不适可以给他们适当的思考时间毕竟7号是脑区的朋友他们还是比较容易接受合理的建议的。</p>
        <p>适时监督7号员工除了不愿受约束、喜欢构想梦想外工作中很大的一个缺点就是逃避问题。领导者在对7号放手的同时不要放弃对其进行监督。意识到他们在刻意逃避工作中的问题时就需要提醒他们引导他们静下来面对问题把问题想清楚。</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、善于铺排、累积人际网络而且以其高度敏感的天赋很快便辨识哪些人对他们有帮助</p>
        <p>2、因其乐观、开朗、好动的个性吸引到不同类型的人跟他们交朋友是天生的公关人才</p>
        <p>3、聪敏灵活学什么都很容易上手多才多艺而且善于表现出来让人赞叹其才华并获得公开的肯定</p>
        <p>4、善于在人前带来快乐让人喜爱有助舒缓紧张气氛</p>
        <p>5、喜欢受人赞誉爱表现自己所以会致力于争取一些成就和社会地位但他们不肯吃苦的本性又往往会限制他们的成就</p>
        <p>6、不惧怕且钟情冒险只要认为信念正确会不顾后果地采取行动</p>
        <p>7、创意丰富点子多多但与艺术型的4号不同他们创造力较容易在商业社会上获得良好的回报</p>
        <p>8、办事能力卓越只要他们肯坐定下来可以同时兼顾多项不同类型的工作并且干出成绩</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>开拓者、公关者、创意者 
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>策划、营销、公关、导游、自由职业、时尚、记者、媒体、演员、主持人、教师等
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境 ：</em>策划、营销、公关、导游、自由职业、时尚、记者、媒体、演员、主持人、教师等
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境 ：</em>官僚主义组织例行公事、重复性的工作严厉而没有趣味的工作环境 。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>平等、自由、民主化管理</p>
        <p>1、无等级观念、亲和力强</p>
        <p>2、不喜欢约束喜欢授权</p>
        <p>3、乐观积极能发掘下属的发展潜能。</p>
        <p>4、管理风格随意、娱乐工作</p>
        <p>5、创新式管理喜欢新项目。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、非常聪明多倾听和包容别人</p>
        <p>2、脚踏实地完成眼前的工作不要过于创新让下属混乱</p>
        <p>3、放慢自己的步奏更加有深度</p>
        <p>4、学会发现批评中的正确观点少找借口推责</p>
        <p>5、承诺一定要兑现。</p> 
    </div>
</div>