@{
    ViewBag.Title = Localizer["8号 (腹中心本能主导)  领袖型/领导型"];
    ViewBag.Enneagram = 8;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>8号 (腹中心本能主导)  领袖型/领导型</div>
        <div class="titler f-30 c-blue mt-30">
            我对人直接了当他人喜欢我与否绝不重要重要的是他们敬畏我。
            <br>我对人直接了当他人喜欢我与否绝不重要重要的是他们敬畏我。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p>1，依赖自己的力量和实力不靠他人</p>
            <p>2，保护自己人不愿与弱者为伍</p>
            <p>3，觉得主持公义是自己的责任</p>
            <p>4，要控制大局喜欢斗争喜欢做大事</p>
            <p>5，不介意对抗、冲突、声大大</p>
            <p>6，斗争哲学衡量双方实力做出对策强势则上力弱则待机而行。</p>
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>屈服于人
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>掌握控制一切
            </div>
        </li>
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="~/images/main/Representative/＃8_巩俐.jpg">
                <a href="javascript:;" class="look"><h6>巩俐</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃8_洪金宝.jpg">
                <a href="javascript:;" class="look"><h6>洪金宝</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃8_金正恩.jpg">
                <a href="javascript:;" class="look"><h6>金正恩</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃8_刘德华.jpg">
                <a href="javascript:;" class="look"><h6>刘德华</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃8_刘晓庆.jpg">
                <a href="javascript:;" class="look"><h6>刘晓庆</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃8_特朗普(Donald Trump) .jpg">
                <a href="javascript:;" class="look"><h6>特朗普(Donald Trump)</h6></a>
            </li>
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我很乐观坚强、吃苦耐劳觉得天下无难事&nbsp;</p>
        <p>》我一向主张君子之交淡如水&nbsp;</p>
        <p>》我跟人相处总是以事为主有事时全力以赴没事时就不见人影&nbsp;</p>
        <p>》我觉得自己不很聪明但也并不笨我宁愿踏踏实实走出自己的路&nbsp;</p>
        <p>》我很相信自己的决心和毅力 但忍耐力却差一些 常常会暴怒&nbsp;</p>
        <p>》我很踏实也很努力我可以担当很多事情 我会把事情摆平。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》我讨厌社会上的不公平人际的不平等讨厌得利益者为什么不付出代价公平竞争呢&nbsp;</p>
        <p>》我一向有话直说,最讨厌那些拐弯抹角又客套半天的人,干嘛那么虚伪&nbsp;</p>
        <p>》我会的事情,我喜欢教导别人,帮别人拿主意做决定甚至帮别人扛&nbsp;</p>
        <p>》我不怕挑战、讲理够义气才重要不高兴就放马过来谁怕谁呀&nbsp;</p>
        <p>》我不会的事情我会努力去学我很努力也很有毅力所以你们有什么困难告诉我我帮你们想办法&nbsp;</p>
        <p>》我一有事情需要解决就全身充满了精力人要坚强不要被打倒&nbsp;</p>
        <p>》我希望说话直指重点干净利落但别人误会我斩钉截铁让人没有反驳的空间太霸道我觉得冤枉。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A乐观进取自信满满从不怀疑自己贯彻意志的能力&nbsp;</p>
        <p>B天下无难事的态度一有事情发生立刻想方法解决&nbsp;</p>
        <p>C由于很在乎家及家的成员在家中表现包容及忠诚&nbsp;</p>
        <p>D很不喜欢求人所以常培养自己的能力使自己一直是求人不如求己的个性&nbsp;</p>
        <p>E不喜欢拖泥带水任何事情喜欢明快干净利落喜欢效率不喜欢琐碎&nbsp;</p>
        <p>F爱帮助别人但常使别人感到是强迫性的帮助&nbsp;</p>
        <p>G喜欢享受挑战及成功的高峰经验&nbsp;</p>
        <p>H为追求正义和真理喜欢与人发生冲突却让别人误以为很权威、很凶、很欺压人&nbsp;</p>
        <p>I喜欢吸取多方面的知识在吸收时像海绵会非常谦虚而不顽固&nbsp;</p>
        <p>J为了自己的理想达成甚至愿意付出比较多的代价不吝啬&nbsp;</p>
        <p>K很难控制自己的愤怒发起脾气来很吓人会让周围人害怕并有惹不起的感觉&nbsp;</p>
        <p>L很会反省知错能改但由于执着于好强周围人还是感觉到压力&nbsp;</p>
        <p>M遇强则强遇弱则弱愈挫愈奋愈挫愈勇&nbsp;</p>
        <p>N周围的人只要不太过份他全能包容但周围的人行为太过份他就会使其非常难堪了。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面貌、眼神：</em>八号领袖型和反恐六都属于具有攻击性的人但是八号的眼神在平常看起来是不具有什么攻击性的会是一种温和的威严甚至平时看起来有些温柔因为八号需要跟人有比较近的距离在安全的时候他是希望自己的身边人得到自己的保护和温暖的。只有在他愤怒的时候才会具有强烈的威慑力和攻击力甚至让人不敢正视。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>八号的男士通常会穿的比较庄重能显示身份和力量线条比较简单不会很新潮、怪异。八号的女生如果有条件的话通常比较大的品牌也有八号的女生会穿的非常性感而那通常是一种豪放的性感。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>“就这么定了”“车到山前必有路做了再说”
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>公平、公正、正义、掌控、控制、带领、保护、远大目标、战略计划、先行动、就这样定了、气势、气魄、大气、魄力、领导、真实
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>气质充满霸气髋骨比较高。八号的男士身材通常比较健壮或者硬朗八号女士的身材会比较横向或者是女性特征非常明显。因为他们想让自己有力量声音洪亮通常从腹部发音大声说话大声的笑有很多声音会有沙哑的现象。他们属于高能量的人群幽默直接能很快地感染和调动整个现场气氛。
    </div>
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>8号性格的人被称为领袖型或能力型他们追求权力希望依靠自己的能力做事。他们时常控制别人但却不愿被别人控制。在别人看来8号性格的人可能具有攻击性还有些以自我为中心。但是他们关心公平正义对朋友豪爽大方处事雷厉风行。 </p>
        <p>8号性格的人喜欢授权分明的管理方式他们不喜欢部门间职责交叉尤其是不喜欢其他部门的人对其部门人员和具体事务进行干涉。其实他们内在的等级观念还是很强烈的他们不喜欢被他人控制希望自己的事情能够由自己决定自己管辖范围内的事情也不允许他人插手。在对8号的人选择职位、部门时一定要注意结构的明确性对于其所在部门的事情也不要做过多的干涉。 </p>
        <p>给予其独立工作的空间不多加干涉。8号性格的人是属于绝对的行动派遇到问题后他们会马上采取措施解决是典型的越挫越勇类型。对于工作他们有自己的想法和主张喜欢按照自己的观点逐步开展工作。领导者最好在工作的过程中对其少加干涉否则就很容易令他们感觉受约束引起心里不舒服的感觉。 </p>
        <p>交流时要简明、直接。8号的人喜欢有话直说不喜欢躲躲闪闪、转弯抹角的。交谈中用精确的词语让他们知道你了解他们的观点这样他们就会比较愿意去听你所要说的事情。 </p>
        <p>员工管理要做到公平、公正。8号性格的人难以容忍不公正、不公平的待遇一旦他们所处的团队中出现了被不公正对待的现象他们必定是冲在前面带领大家讨回公道的那个人。8号的人是很少轻易敬佩一个人的一旦这个人为人处世的方式得到他们的认同与尊重他们就会从心里钦佩他。要想取得一个8号员工的尊重与服从领导者就要做到办事公道。在员工管理方面可以适当听取8号人的意见尊重他们的观点相信是会取得他们的信任的。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、富有领导才能、组织力能激励团体中的成员全力以赴为目标奋斗而且能够以身作则</p>
        <p>2、有决断力作了决定就不会轻易改变</p>
        <p>3、无惧艰难遇到问题立刻思考解决方法不会为情绪所左右能处理很大的危机</p>
        <p>可以承受极大的精神压力</p>
        <p>4、对付敌人毫不手软会给予对方致命一击斩草除根是战场上的猛将</p>
        <p>5、对自己喜爱的人会尽心尽力地保护绝不计较付出多少</p>
        <p>6、维护正义不平则鸣斗志旺盛永不言败就算失败了会总结经验迅即东山再起</p>
        <p>7、有开创力不依循既定框框在事业上会突围而出处事效率高。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>开拓者、决策者、推进者、攻坚者
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>市场开拓、运动员、创业者、自由职业、培训师、领导者、军人、警察等
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em>能独立施展的舞台有挑战的工作自己说了算,有出人头地的机会 。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>与人分享权力被别人干涉工作过程 。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>大刀阔斧式管理</p>
        <p>1、雷厉风行、遇山开路遇水架桥大刀阔斧。	</p>
        <p>2、公平公正侠骨柔肠“我是责任者”	</p>
        <p>3、果断、坚定不拖泥带水	</p>
        <p>4、护犊子、家长制作风“我就是老大”	</p>
        <p>5、率真直接、对抗性强、斗争哲学	</p>
        <p>6、压倒性、专制强势	</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>	1、变通一点全力以赴的蛮勇会付出高昂的代价	</p>
        <p>	2、遇到不同意见的时候不要习惯性否定多聆听别人的意见	</p>
        <p>	3、不要被自己的情绪操控常微笑多冷静	</p>
        <p>	4、注意自己的集权思想也要小心自己的习惯性越权	</p>
    </div>
</div>