@{
    ViewBag.Title = Localizer["9号 (腹中心本能主导)  和谐型/和谐型"];
    ViewBag.Enneagram = 9;
}
<div class="m-about-head">
    <div class="desc">
        <div class="markdesc"><i class="markleft"></i><i class="markright"></i>9号 (腹中心本能主导)  和谐型/和谐型</div>
        <div class="titler f-30 c-blue mt-30">
            对人绝不岢求凡事随遇而安一片平常心是我处事之道。
            <br>我怕冲突较易退缩让步万事以和为贵有时会委屈自己。
        </div>
    </div>
</div>
<div class="mu-model pd-20">
    <div class="mu-summary mu-summary-3 clearfix">
        <a href="javascript:void(0);" class="label1"><img src="/images/main/about/icon_zytz.png" alt=""></a>
        <div class="mn">
            <p>1着重存在的状态多于做&nbsp;</p>
            <p>2自我意识弱常将专注力放在别人身上&nbsp;</p>
            <p>3难于做决定总觉得每事都有其优点亦认为问题自有其出路&nbsp;</p>
            <p>4犹豫不决须花很长时间做决定优先次序之排列不清晰&nbsp;</p>
            <p>5不坚持己见难说No是“好好先生”“好好小姐”&nbsp;</p>
            <p>6不懂宣泄愤怒怕纷争有损关系&nbsp;</p>
            <p>7容易分散注意力灵魂出窍&nbsp;</p> 
        </div>
    </div>
</div>
<div class="m-report-list">
    <ul class="clearfix">
        <li>
            <div class="title">
                <p>深层恐惧：</p>怕分离
            </div>
        </li>
        <li>
            <div class="title">
                <p>深层渴望：</p>和谐相处
            </div>
        </li> 
    </ul>
</div>
<div class="m-about-model">
    <div class="title">代表人物</div>
    <div class="plr-30">
        <ul class="ma-honorlist pt-10 pb-10 clearfix">
            <li>
                <img src="~/images/main/Representative/＃9_Carl Jung.jpg">
                <a href="javascript:;" class="look"><h6>心理学大师Carl Jung</h6></a>
            </li>
            <li>
                <img src="~/images/main/Representative/＃9_Carl Rogers.jpg">
                <a href="javascript:;" class="look"><h6>Carl Rogers</h6></a>
            </li> 
        </ul>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我独白</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》你对自我要求很高，因此常常不停地挑剔自己，也不由自主地常挑剔别人；&nbsp;</p>
        <p>》你的工作态度严谨，因此不喜欢别人工作态度随便、草率；&nbsp;</p>
        <p>》你遇到事情一定全心全力去做，若然做得心力交瘁时，也会不由得心生埋怨；&nbsp;</p>
        <p>》你做任何事，必有自己的计划，不会盲目没主见，而跟随别人的想法；&nbsp;</p>
        <p>》你对自己做事的方法，仍常常检讨改进，并修正再修正；&nbsp;</p>
        <p>》讨厌凡事只会走快捷方式而不脚踏实地的人；&nbsp;</p>
        <p>》对生活的要求是规律、整齐，尽其力使生活井然有序；&nbsp;</p>
        <p>》对突然发生的事，曾惊慌、失控，并引起心烦、愤怒；&nbsp;</p>
        <p>》发觉自己有不对的地方，立刻会改正，但常常是矫枉过正。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">自我觉察</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>》如果能拥有一个惬意、舒服的空间让自己懒在里面不知有多好&nbsp;</p>
        <p>》每个人的意见都会不同那有什么关系反正我以大家的意见为意见&nbsp;</p>
        <p>》别人看我好像永远没事,平静、稳定、又随和,其实有时侯我心也很乱也会多愁善感 &nbsp;</p>
        <p>》怎么还有那么多事要做我真想去睡觉&nbsp;</p>
        <p>》其实我也喜欢思考一些问题只是不说出来罢了如果我说了你会惊讶我的智慧我不是脑袋空空&nbsp;</p>
        <p>》人为什么一天到晚争名夺利其实争到又怎么样我宁愿享受自然就是美这种境界安全多了。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">日常生活中常出现的特质</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>A温和、平稳、冷静、遇事淡淡地、不邀功。&nbsp;</p>
        <p>B会倾听别人不发表意见也不主动让人很安心的吐心事有同理心不会乱传话引起误会。&nbsp;</p>
        <p>C对自己要求不高别人要求他时他也漫不经心不会很在乎的样子。&nbsp;</p>
        <p>D动作慢常常拖拖拉拉也不知在拖拉什么喜欢运动喜欢大自然不喜欢冒险。&nbsp;</p>
        <p>E很好说话但没主见无法帮别人拿主意。&nbsp;</p>
        <p>F认同别人所以很能适应环境对一切都不太挑剔。&nbsp;</p>
        <p>G信赖别人也依赖别人不给自己和别人订高标准。&nbsp;</p>
        <p>H很有排解纠纷的能力两边说好话有了解双方的情绪与委曲的能力。&nbsp;</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">气质特征</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>面貌、眼神：</em>通常九号和平型人的眼神不会表现出机警和锐利因为机警和锐利这种态度的眼神太过激进和太容易让人产生敌意这不符合九号的内心世界所以心灵之窗也不会表现此种状态。通常你会看到此类型人的眼神比较柔和甚至有些九号的眼神会让人有一种“没有睡醒”的感觉仿佛对面前一切的事物不太感兴趣。而且看起来焦点也比较稳定不会像6号7号人的眼神那样左右扫描飘忽不定。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>衣着：</em>舒服是九号穿衣服的一个最大的主题是不是名牌不是重点最重要是穿的舒服而且还要穿的方便。颜色偏沉色调起码不会是很扎眼的色调因为太过突出也不是他们希望有的效果。而经验告诉我们他们是九个型号里面对自己衣着漂亮程度相对要求低的一种但其实就呈现出另外一个要求就是穿的舒服、方便。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>常见的说话模式：</em>从他们慢条斯理的生活态度就可以知道他们说话的速度也和他们的生活态度是一致的不慌不忙语气平平的对话是他们的特点。而且有意思的是通常他们为了不用说那么多的话浪费那么多的精力竟然练就一身“很能说出一件事情的重点”的本领。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>语言中经常出现的词汇：</em>好的“我无所谓”“都可以”“你拿主意吧”“你说了算”
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>其他特征：</em>当你把很多的九号人放在一起去在他们身上找相同点的话第一个你就会发现大部分九号人的身形都有着同一个特征就是圆润的身形。圆圆的下巴比较迷信面相学的朋友会说他们的身形表现出他们很有“福气”有些朋友会形容他们“心宽体胖”。无论如何经验告诉我们九号人无论男女都不会拥有硬朗、彪悍等类型的身材。有两个原因第一个是因为当他们内心有交流的时候会选择吃东西这种方法来去化解焦虑吃得多也就自然容易长肉。第二个原因是他们不会让自己太辛苦太多体力消耗而且喜欢舒舒服服地活着“天塌下来还有比我高的”这种人生态度也造就了一部分的原因。
    </div>
</div>
<div class="m-about-model">
    <div class="title">如何管理</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <p>如果你的团队当中有9号的员工你交代他任务的时候要注意两件事情。第一你要给他规定完成工作的期限第二要追踪他做事情的过程。只有这样他才可能完成你交代他的管理任务。另外9号人的个性当中其实也是比较倔强的。他表面看起来非常温和好像是与世无争但是事实上在9号的内心深处是有很倔强的一面。</p>
        <p>如过你让9号去做一件事情9号表面会非常友善的答应你但如果他实际上不想做的时候可能会口头答应身体不行动。</p> 
    </div>
</div>
<div class="m-about-model">
    <div class="title">天赋才能</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、有同情心而且会支持人因此换来别人的信任吸引人与他交往</p>
        <p>2、有耐性肯倾听别人的疑难并有能力稳定他人的情绪</p>
        <p>3、不苛求别人反过来也更能得到别人的认同</p>
        <p>4、触觉敏锐深刻有移情作用无需别人详细表达已能明白其感受</p>
        <p>5、亲切而肯妥协有调解纷争的本领</p>
        <p>6、能平等对待不同身份、类型的人</p>
        <p>7、冷静平和不会妄下断语。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">擅长的工作角色和类型</div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>角色建议：</em>关系维护者、协调者、执行者
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>工作类型：</em>教育、关系协调、HR、客服、咨询师、公务员、职员等。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>适合的工作环境：</em>稳定而一切都在预料之中责任说明清楚彼此支持而冲突不大的环境。
    </div>
    <div class="content textIndent2 mt-10 pl-15 pr-15 pb-10">
        <em>不适合的工作环境：</em>独裁压力沉重人际关系互动不多的环境。
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导风格</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>细节、精细化管理</p>
        <p>1、人性化以人为本提倡营造和谐的团队氛围崇尚自然之道无为而为的管理方式。</p>
        <p>2、顾虑所有人的意见、集体式领导决策缓慢</p>
        <p>3、容易出现的问题目标感不强有时会为了平衡关系牺牲原则、息事宁人管理过于随意信念不坚定。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">领导力提升建议</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>1、坚定信念增加行动力更多地表达自己敢于面对冲突</p>
        <p>2、尽可能切中重点聚焦目标</p>
        <p>3、不要太老好人坚持原则分清主次和轻重缓急。</p>
    </div>
</div>