@{
    ViewBag.Title = Localizer["心灵导向的职业生涯"];
    ViewBag.Enneagram = 0;
}
<div class="m-about-model">
    <div class="m-title">一场心灵导向的职业生涯革命</div>
    <div class="bd pd-20 c-666 plr-50">
        <div class="content textIndent2">九型人格是一门古老的智慧 ，是一门关于人格分类的学问 ，有几千年的历史传承 ，相传源自于苏菲 。在这个新时代 ，九型人格焕发出了它勃勃的生机 ，九型人格以其实用性和精确性而闻名于世 ，它的美妙之处在于通过性格类型的自我觉察 ，你可以在较短的时间内看到自己的思维模式 、情绪模式及行为模式的规律 ，换句话说九型人格可以帮助你认清自己 。</div>
        <div class="content textIndent2">看清自己的好处是你有机会自我超越 ，强化你的个性优势 ，回避你的个性局限 ，当然性格本身没有好坏 ，但重要是通过九型人格的学习 ，我们有机会拓展我们对自我的接纳 ，及 “自我 ”在精神层面的归属感 ，同时也有可能唤醒你对别人的爱与理解 ，毕竟在这个世界上大多数人都渴望得到了解和理解 。如果你继续往前走 ，九型人格亦是一条自我修炼之路 ，性格类型其实也是我们内在执着的外在显现 。通过这条路 ，或许你可以朝向更高层面的自由 。</div>
        <div class="content textIndent2">关于九型人格在人的职业生涯规划方面的运用 ，这也属于一个人的自我管理的范畴 。自我管理对每个人一生的成长至关重要 ，但在当今这个快速变化的时代也很容易被忽视 。</div>
        <div class="content">
            <p>现代管理学之父德鲁克先生关于自我管理曾有过著名的 “经典五问 ” ：</p>
            <p>（ 1 ）我是谁 ？什么是我的优势 ？我的价值观是什么 ？</p>
            <p>（ 2 ）我在哪里工作 ？我属于谁 ？是决策者 、参与者还是执行者 ？</p>
            <p>（ 3 ）我应做什么 ？我如何工作 ？会有什么贡献 ？ </p>
            <p>（ 4 ）我在人际关系上承担什么责任 ？ </p>
            <p>（ 5 ）我的后半生的目标和计划是什么 ？</p>
            <p>如果我们带着德鲁克的 “经典五问 ”去深度理解九型人格 ，或许其中很多问题都能迎刃而解 、豁然开朗 。</p>
        </div>
        <div class="content textIndent2">从管理者的角度来看 ，为人力资源在选人 、用人 、育人 、留人方面提供有价值的参考 。众所周知 ，随着80后、90、00后的新生代逐渐登上职业舞台 ，给企业的人力资源管理也带来了很多新课题 ，不少学者开始研究诸如 “ 8 0后 、 9 0后管理 ”等新课题 。实际上 ，80后、90、00后之所以难以管理 ，主要是个性化彰显的问题 ，过去的老一辈的员工并非没有个性 ，而是他们的个性没有像新生代员工这样充分地彰显出来 ，从而更容易被统一的指令所控制 、影响 ，而现在再不去考虑人的个性化问题就很难有效管好人 。因此 ，我认为现代企业人力资源管理者十分有必要去研究人的不同性格类型及其管理规律 ，有针对性地制定不同性格员工的配置 、培养方向 ，以及相匹配的管理与沟通置 、培养方向 ，以及相匹配的管理与沟通方法 ，以更好地减少劳资冲突 ，创造和谐的劳资关系 ，同时提高员工的岗位胜任力 ，更好地做到 “人尽其才 ” ！</div>
        <div class="content pt-10 pb-10"><em>问 “心 ”路在何方</em></div>
        <div class="content textIndent2">也许你正漫步在大学校园 ，因不喜欢的专业而纠结彷徨 ；也许你正奔赴在求职路上 ，为找不到满意的工作而困惑迷茫 ；也许你刚刚步入职场 ，为如何适应这份工作而忐忑不安 ；也许你正踌躇满志地艰苦创业 ，为发展自己的事业而殚精竭虑 ；也许你正准备跳槽转行 ，却为寻找 “新东家 ”而犹豫不决 ；也许你曾一路高升 、顺风顺水 ，现在却面临难以逾越的事业高原 ；也许你正手捧 “金饭碗 ” ，但工作却毫无激情 ，怎么也找不到职业幸福感 ；也许你即将光荣退休 ，还想继续发挥余热 ，续写儿时错过的梦想 … …</div>
        <div class="content textIndent2">记得有一段令人震撼的话 ： “ 2 0世纪最大的悲剧 ，不是战争 、地震 、海啸 … …而是千千万万的人活着 ，然后死去 ，却不知道自己身上所蕴藏的巨大价值 ！ ”这个世界上本没有垃圾 ，垃圾都是放错了地方的宝贝 ，刘翔不会扣篮 、姚明不会弹钢琴 、郎朗不会写童话 … …这些都不是人生的悲剧 ！悲剧的是无数的天才在不适合自己的地方苦苦奋斗 ，然后一点点地被埋没 ；悲剧的是看起来光鲜亮丽的成功人士 ，却孤独地站在事业的巅峰 ；悲剧的是越来越多的人觉得过的不是自己想要的生活 ，做的也不是自己想做的事业 ；悲剧的是很多莘莘学子寒窗苦读 、满腔热血 ，却在毕业时面临失业 ，感慨 “理想很丰满 ，现实很骨感 ” ；悲剧的是很多职场人士忙忙碌碌 、艰苦奋斗 ，却壮志难酬 ，感慨 “人在江湖 ，身不由己 ” 。我们一生中最美好的岁月 ，一天中最有精力的时光 ，都献给了 “职业 ” ，如果我们无法从 “职业 ”中获得真正的幸福感 ，我们的人生幸福又从何谈起呢 ？</div>
        <div class="content textIndent2">阿波罗神殿刻了一句流传千古的名言 ：认识你自己 ，那么你就是智者 。 （ Know yourself and you are the wise man）我们认为 ，了解 “我是谁 ”对发挥我们的天赋十分重要 ，只有当你清晰你的职业兴趣 、职业价值观 、职业能力 、职业性格等 ，才可能真正做到人与职位的完美契合 ，你的内心才能在工作中找到真正的满足 ，从而游刃有余地驾驭你的人生之舟 ，而这也是我们写这本书的出发点 。</div>
        <div class="content pt-10 pb-10"><em>时代呼唤心灵导向的职业生涯规划新革命</em></div>
        <div class="content textIndent2">近年来 ，越来越多的人开始关注职业生涯规划 ，试图从中找到理想的职业人生密码 。</div>
        <div class="content textIndent2">职业生涯规划理论自上世纪 90年代进入中国以来 ，掀开了波澜壮阔的篇章 ，尤其是各类高校成为这股浪潮中的主力军 ，自2000年以来陆续开展轰轰烈烈的大学生职业生涯规划运动 ，各种讲座 、课程 、职业生涯规划大赛如雨后春笋般涌现 … …然而 ，具有讽刺意味的是 ，几年折腾下来却产生了 “四不满意 ” ：领导不满意 、老师不满意 、家长不满意 、学生不满意 。同时 ，企业的人力资源部门也组织各种员工职业生涯规划培训 ，但结果也是 “竹篮打水一场空 ” 。林林总总的职业规划理论听起来很有道理 ，却很难产生实效 ；五花八门的职业规划工具看起来很科学 ，却让大家越规划越迷茫 ！</div>
        <div class="content textIndent2">职业生涯规划之路该走向何方 ，如何寻找新的突破口 ，是时代赋予教育工作者和企业管理者的重大课题 。我们认为 ，未来的职业生涯规划应当从内在的心灵出发 ，阿基米德说过 “给我一个支点 ，我能撬起地球 ” ，职业成功和幸福的支点则在我们的心中 ，如果我们觉察自己的内心 ，更深入和清晰地发现自己的内在模式 ，发现内在的优势和局限 ，或许可以撬起我们的职业杠杆 ！</div>
        <div class="content pt-10 pb-10"><em>性格决定命运规划成就未来</em></div>
        <div class="content textIndent2">俗话说 “江山易改 ，本性难移 ” ，九型人格智慧是一个关于 “我是谁 ”的古老而神奇的密码 ，其中包含了关于自我的诸多深层信息 ：深层价值观 、注意力焦点 、情感模式 、思维模式 、行为反应模式 、优势潜能 、个性局限 … …这些因素像幽灵一样紧随你人生的每一个阶梯 ，微妙而深远地影响着你的职业兴趣 、职业能力 、职业价值观和职业决策风格 。当你深入了解你的性格 ，你就会发现过去人生中的种种经历都并非偶然 ，你的每一次重要选择几乎都和你的性格类型有千丝万缕的关系 ，性格就像一只 “看不见的手 ”操纵着我们命运的主旋律 。因此 ，只有发现和管理你的性格 ，才能找到你骨子里热爱的 “天命 ” ，找到发挥所长 、充分展示你价值的工作 ，找到令你事半功倍 、 “天生我才必有用 ”的工作 ！</div>
        <div class="content pt-50">摘自《九型人格与职业生涯规划》</div>
    </div>
</div>