@{
    ViewBag.Title = Localizer["九型人格（Enneagram）介绍"];
}
<div class="m-about-model">
    <div class="m-title">九型人格（Enneagram）介绍</div>
    <div class="titler text-c f-24 c-blue mt-30">
        九型人格常作为在灵性上，一种通往更高的存在、精神和
        <br>启蒙状态的途径 ，被描述为一种自我理解和自我发展的方法。
    </div>
    <div class="text-c pt-30 pb-30"><img src="/images/main/about/baike_intro.jpg" alt=""></div>
</div>
<div class="m-about-model">
    <div class="title">九型人格学</div>
</div>
<div class="mu-model bb0 pd-20">
    <div class="mu-summary mu-summary-gray pd-30 clearfix">
        <p class="title">九型人格学（Enneagram）又名“性格形态学”，相传有2500年历史，起源于中亚细亚，如中国的太极、八卦图谱一样，蕴含玄机，能解释人类世界之天机云云，是为追求灵性修为的一种工具。在20世纪以前的漫长岁月里，九型人格并未进入主流社会，而只在一些神秘团体中传播。</p>
        <p class="title">九型人格学作为一门性格心理学，是一个协助人们了解自我和认识他人的有效工具，20世纪七八十年代以来，其理论风行欧美学术界及工商界，被越来越广泛地应用于人力资源管理、战略管理、领导力、员工培训、市场营销等组织管理的诸多方面，成为斯坦福大学等国际著名大学MBA学员推崇的热门课程之一，诸多全球500强企业将九型人格作为企业管理培训教程，以此培训员工，熔炼团队，提高执行力！</p>
        <p class="title">近代性格形态学的出现，于60年代由南美洲智利的心理学家Oscar Ichazo所创，将九种基本性格形态套入图形内。至70年代初期有八十多个美国人前往智力跟Oscar学艺达10个月之久，将性格形态学引入美国。此后20多年的时间，不少导师将近代心理学元素加入，以丰富性格形态学。但也因此出现各家各派之演绎版本，略有不同，未有一个正统。</p>
        <p class="title">至94年，美国斯坦福大学的学者主办第一届国际性格形态大会，参加人数有1400人，来自20个国家，同年成立国际组织。</p>
        <p class="title">Dr.Unico教授 是九型人格学国际级导师，历年在美寻师学艺12年之久，历年在内地举办数百场次课程。拥有心理学及身心健康博士学位，九型人格学国际级导师、香港性格形态学会永久名誉会长 等，曾应邀于97年第二届国际性格形态大会上讲学。Dr Unico教授 有感于美国之发展流于文字描述之束缚，美国人多以书籍文字描述，解释九型特点，过于表面化。经过多年的潜心研究和实践，升级并创立了气质形态性格学。讲求行为和气质背后之动机、对事之实时反应、及内心深层心理结构的揣摩，对九型人格学贡献了一生...</p>
    </div>
    <div class="content textIndent2 f-14 mt-10 pb-20">
        <p>九型人格学（Enneagram）是一个关于人类个性的模型，一般把其理解为一套把人类划分为九种相互关联的人格的类型学。虽然九型人格学的想法和理论之历史存有很大的争议空间，但当代的理论主要来自智利的心理学家奥斯卡·伊查佐和克劳迪奥·纳兰霍。纳兰霍的理论部分是受到葛吉夫这位导师的影响。作为一种类型学，九角星的每一点在九型人格学中代表每一种人格。其被认为类型之间的存有一些不同的连接。九型人格学的导师亦因思想不同，而令他们理论上的一些意念并不总是一致。</p>
        <p>通过研讨会、会议、书籍、杂志和DVD的推广，九型人格学在商业管理和精神语境中都得到广泛的应用。在商业环境中，它通常用作分类及深入了解每位员工的性格及大体的工作环境；在灵性上，它更常作为一种通往更高的存在、精神和启蒙状态的途径，它被描述为一种自我理解和自我发展的方法。</p>
        <p>
            同一性格的变化
            <br>性格形态是用相同性格的人内心的心理结构与特质作为归类。古语有云：相由心生，所以你会发现相同性格的人的气质、神态确有相类似。但是每个人的成长背景、教育、职业、社交圈子的差异，也会形成他们的外在行为的分野。
        </p>
        <p>因此如同意是＃3成就型，一个高学历专业人士，跟一个卖煎饼果子的劳动阶层，可能言行举止大有不同，但内心都是同样好胜，爱彼高下，需要别人的欣赏。他们的分别可能只是能力才干上的差异。</p>
        <p>另一方面，一个终身奉献为人群服务的＃2付出型，跟一个终日只会依附于丈夫身边的的＃2，甚至跟一个因为得不到爱而陷入精神崩溃的＃2，不单是心性、眼界，更是心理健康层次的高低之比。</p>
        <p>因为心理健康与能力才干高低之别，同一性格的人的品德以至成就也有不同，也为辨别他人的性格增加不少难度。</p>
        <p>出众 &nbsp; &nbsp; &nbsp; &nbsp; 能干</p>
        <p>健康 &nbsp; &nbsp; &nbsp; &nbsp; 一般</p>
        <p>不健康 &nbsp; &nbsp; &nbsp; 不能干</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">九型人格三种能量中心的分类</div>
    <div class="content textIndent2 mt-10 pb-20">
        <p>情感主导（Feeling Centre）以感情为原驱力。以心为中心（heart center）</p>
        <p>第二型人格（古道热肠者）：爱给予</p>
        <p>第三型人格（成就至上者）：爱成功</p>
        <p>第四型人格（个人风格者）：爱独特</p>
        <p class="pt-30">思考主导（Thinking Centre）以思想为原驱力，以脑为中心（Head Center）</p>
        <p>第五型人格（博学多闻者）：爱知识</p>
        <p>第六型人格（谨慎忠诚者）：爱安稳</p>
        <p>第七型人格（勇于尝新者）：爱享乐</p>
        <p class="pt-30">本能主导（Instinct Centre）以本能为原驱力，以腹为中心（gut center 或称为 body center）</p>
        <p>第八型人格（天生领导者）：爱权力</p>
        <p>第九型人格（向往和平者）：爱和平</p>
        <p>第一型人格（理想崇高者）：爱秩序</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">Enneagram 图形起源</div>
    <div class="content textIndent2 mt-10 pb-20 pl-15 pr-15">
        <p>一种是说，在公元前二千五百多年可能已经有“Enneagram”图形。在两河流域地区，一些部落的长老用这套学说教化族民，让他们能和谐相处。</p>
        <p>另一种说法是，在古希腊哲学家毕达哥拉斯（生于前580年）的私人笔记本中，有一张独立存在的手绘草图（“Enneagram”图形），可能因为文化迁徙的因素，该图辗转流传到中东。</p>
        <p>第一次世界大战之前，亚美尼亚人葛吉夫将“Enneagram”图形由中东带回欧洲，并以苏非主义等古老传统加以阐释。目前所使用的九型人格图，则是延续玻利维亚人伊察索于1960年集结的成果[7]。他创办了艾瑞卡学院，据说九型人格学说是他在1950年代旅行于阿富汗时，由伊斯兰教的苏菲派里所学得。 [8]。</p>
        <p>艾瑞卡学院首先在智利的艾瑞卡市成立，之后，美国的艾瑞卡学院也在1970年成立。伊察索将人类的九种情欲放进九型人格学说中，并将这套学说拿来做为人类心理训练的教材。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">侧翼理论</div>
    <div class="content textIndent2 mt-10 pb-20 pl-15 pr-15">
        <p>在本身的号码相邻的就是侧翼，绝大部分人只会偏向一种邻近侧翼的性格特征。同一个型，但不同的侧翼，两者核心价值一样，但性格、待人接物的态度上有很大的差别。</p>
        <p>例如，2号会有3号或1号的侧翼（记作2w3或2w1），一定不会有其他（如2w7）。按此理论，性格即可分成18个类型：2w1、2w3、3w2、3w4、4w3、4w5、5w4、5w6、6w5、6w7、7w6、7w8、8w7、8w9、9w8、9w1、1w9、1w2。</p>
    </div>
    <div class="text-c pb-30"><img src="/images/main/about/baike_table.jpg" alt=""></div>
    <div class="content textIndent2 mt-10 pb-20 pl-15 pr-15">
        <p>对于判定6号的侧翼6w5、6w7时，因为这个说法令一般人出现严重混淆，所以判定时必须先撇除正反之念，以6w5、6w7性格的详述作准。 “第六型的恐惧”一词汇定义是：当遇到直击要害的恐惧时，内心不自觉地涌现的想法。正六是“想逃避痛苦”，而反六是“彻底破碎导致自己恐惧的根源”（有时也会自行采取退避方式，以减低其他预期的更大伤害）。</p>
        <p>根据18侧翼性格详述及网上一些专家研究结果，显示出是两种不同的性格，实际上也是不能互相转换的（其实就是2个不同侧翼影响）。</p>
        <p><em>6w5是反恐惧第六型（反六）：</em></p>
        <p>平时外表、面容较傲慢，动作及处事也较镇定，以极尽防卫的方式来进攻；</p>
        <p>因为事事追求绝对的安全感，所以多以隐密手段式攻击，到了感觉得势／安全的时候才会表露自己内心实际想法；</p>
        <p>即使在人面前表现得热情，其实从外表上很善于隐藏内心真实的一面；</p>
        <p>任何时候也很能保持思维及实际行动力； 在一般及不健康层次时，也因为容易被害妄想，过度防卫自己，所以交际方面较为排外；</p>
        <p>（注意：即使交际表面上友好，也反映不了实际是否友好） 加上反恐惧性格影响，会对妄想中的威胁／妄想中的敌人作出先发制人的攻击，更会不择手段，影响团队秩序，所以看起来像无理取闹。</p>
        <p class="pt-30"><em>6w7是恐惧第六型（正六）：</em></p>
        <p>平时动作、处事较焦急和冲动，内心想法容易在面容上被看穿：</p>
        <p>当真正遇到恐惧事物，外表也会不自控地显出慌张、心怯的外表，虽然有一定防卫之心，但有时会有冒险一试的心理：</p>
        <p>这类型人明显看到有幽默感，可是他们也会运用自己的幽默感嘲笑别人；</p>
        <p>较在意他人的看法；</p>
        <p>就算单独一人时也喜欢跟外人交际及玩乐，可是交际仍然有选择性；</p>
        <p>被人激怒时，可能会因为忍受不了愤怒而疯狂鲁莽地直接攻击，但是第六型人的健康层次在6-9级时，已在失常状态，所以不在此限。（注意：这时是愤怒爆发，而不是反恐惧）</p>
        <p class="pt-30"><em>总结：</em></p>
        <p>反恐惧第六型（反六）因为受第5型侧翼影响：遇到恐惧的事，不自控地想着“自行彻底破碎导致自己恐惧的根源”，而且性格看来较隐性，可惜强化了被害妄想，强化了对人的批判及思考，对人的感情层面更薄弱。</p>
        <p>（注意①：反恐惧第六型有时也会自行采取退避方式，以减低其他预期的更大伤害）</p>
        <p>（注意②：6w5是完全不像5w6那种评事物对事为核心，喜爱独处，害怕面对人事关系，恐惧型性格）</p>
        <p class="pt-30">恐惧第六型（正六）因为受第7型侧翼影响：遇到恐惧的事，不自控地想着“逃避痛苦”，而且性格较显性，较外向。</p>
        <p>第六型（6w5反六和6w7正六）跟第一型的差别[编辑]</p>
        <p>第一型是行动派，做事很有自发性自行上前帮忙，虽然面容变化不多，但处事时的动作是经常焦急的（1w2更明显）。</p>
        <p>第六型是思想派，见情况不利经常在旁边观察及思考（6w5更常见），6w5处事时面容和动作也很能保持镇定，6w7容易看到焦急及面容变化。</p>
        <p class="pt-30">第一型和6w7属于恐惧型性格；6w5属于反恐惧型性格。</p>
        <p>遇到恐惧的事，第一型和6w7也会从四肢看得出慌张／异常的举动，6w5仍能面不改容，四肢看来也很能镇定。</p>
        <p class="pt-30">第一型评事物对事为核心，因为感情层面薄弱，理性层面很强。</p>
        <p>第六型评事物对人为核心，因为对人批判的心理，比理性强得多。</p>
        <p class="pt-30">第一型情绪稳定性高，对表达愤怒是尽力压抑，其实面容也可看出来，只是没有6w7那么明显及强烈。</p>
        <p>第六型情绪容易出现不稳定，内心非常渴望表达愤怒，到自觉安全时候就会表达愤怒，6w7在一般情况容易被看出来；6w5非常善于控制外表及面容，而且自我包装能力强，所以不发表时是很难被看出来。</p>
        <p class="pt-30">第一型做事求规则及正确。</p>
        <p>第六型做事求自身安全感，做事可能会出现“得过且过”的情况。</p>
    </div>
</div>
<div class="m-about-model">
    <div class="title">副型</div>
    <div class="content textIndent2 mt-10 pb-20 pl-15 pr-15">
        <p>副型又称子类型。每种人格类型都有三个副型。副型主要是以生物三个基本欲望区分，分为“自我保护”、“社会辅助”和“后代繁衍”。</p>
        <p class="pt-30">九型人格的健康阶梯理论及其升华与恶化理论</p>
        <p>九型人格除了性格的九种形态外，还有人格的健康状况，总共有9级。健康的阶梯有第1、2和3级，一般的有第4、5和6级，不健康的有第7、8和9级。最健康的是第1级，最差的是第9级。</p>
        <p class="pt-30">人格最健康的时候，随时有人格整合的可能，例如第9型的出现了第3型的特征，由原本的内向保守，变得充满活力，基本欲望得到满足，基本恐惧隐藏。健康的人格令人活出真我，心理平衡、充分发挥自己的潜能和能对社会作出贡献。</p>
        <p class="pt-30">一般的时候基本欲望和基本恐惧浮现，由自我取代了真我，自我过分膨胀，自我防卫机制出现，心理变得不平衡，容易与人发生冲突，为了满足基本欲望，可以不惜一切伤害人，也很容易屈服在社会的阴影下，人格的优点未能充分发挥。不健康的人格，可说是一种病态，自我防卫机制失灵，可以导致人格陷落，如第五型人出现了第七型的缺点如失控、信口开河和生活奢侈等。严重的会导致精神病，甚至自毁。</p>
        <p class="pt-30">当人格于极健康和不健康的时候，是有整合和陷落的现象，这会导致错误地判断人的基本人格，尤其是极健康的时候。</p>
        <p>两个独立的升华、恶化方向圈：</p>
        <p>第一条：1 → 7 → 5 → 8 → 2 → 4 → 1</p>
        <p>第二条：3 → 6 → 9 → 3</p>
        <p>顺向为人格升华方向，逆向为人格恶化方向。</p>
        <p class="pt-30">例如一个2号心理健康时，便会同时出现4号的心理健康特征；若一个2号心理不健康时，便会出现8号的心理不健康特征，如此类推。第二条内也如此类推。</p>
        <p>人格升华的整合方向及其素质获得的提升表现：</p>
        <p class="pt-30">1 → 7：放下拘谨，宽容乐观，敢于尝试，获得“开朗”；</p>
        <p>7 → 5：减少冲动，处事冷静，深入思考，获得“理智”；</p>
        <p>5 → 8：坚强勇敢，果断自信，言出必行，获得“威信”；</p>
        <p>8 → 2：热情友善，乐于助人，心胸开放，获得“纯真”；</p>
        <p>2 → 4：坚持心愿，自我享受，爱人爱己，获得“谦卑”；</p>
        <p>4 → 1：安分守己，是非分明，客观冷静，获得“平衡”；</p>
        <p>3 → 6：尽责细心，三思后行，忠心耿耿，获得“忠诚”；</p>
        <p>6 → 9：随遇而安，放下焦虑，信服别人，获得“信任”；</p>
        <p>9 → 3：目标明确，勤快积极，自我挑战，获得“果断”。</p>
    </div>
</div>