@{
    ViewData["Title"] = Localizer["关于我们"];
    ViewBag.Navi = 2;
}
@section head{
    <link href="/css/about.css" rel="stylesheet">
}
<div class="bgmain minwp">
    <div class="g-mainer">
        <!-- 主模块 -->
        <div class="m-mainer bgabout pb-30">
            <!-- 关于我们菜单栏-->
            <div class="bgmenu pinned">
                <div class="m-about-menu wp">
                    <ul class="bd clearfix" id="aboutmenu">
                        <li id="about_us" class="on"><a asp-action="AboutUs" class="item">关于我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="wp">
                <div class="m-about-model mt-30">
                    <div class="title">iSouLing</div>
                    <div class="bd pdbase50 pt-20 pb-30">
                        <div class="content textIndent2">
                            iSouLing是一个“应用级心灵成长”领域的O2O整合平台，以人格学、心理学、哲学、社会学、经济学、生命科学等学术和应用资源为根基，整合身心健康、文化交流、个人发展等综合产业服务链。以用户为中心进行人格识别、数据分析和挖掘，为用户提供“自我认知、个人成长、职业事业发展、商务应用”等人工智能综合应用服务，旨在帮助用户实现自我超越和智慧成长，预防心理迷茫和困扰的发生、蔓延与发展，传播喜悦人生的价值观，为健康心灵护航，为精彩人生导航。
                        </div>
                        <div class="text-c mt-10">
                            <img src="/images/main/about/aboutus_1.jpg">
                        </div>
                        <div class="text-c mt-10">
                            <img src="/images/main/about/aboutus_2.jpg">
                        </div>
                        <div class="content textIndent2 mt-10 pl-30 pr-30">
                            国务院《“健康中国2030”规划纲要》强调“加强对抑郁症、焦虑症等常见精神障碍和心理行为问题的干预，加大对重点人群心理问题早期发现和及时干预力度”。
                        </div>
                        <div class="content textIndent2 mt-10 pl-30 pr-30">
                            <p>据相关权威机构和机关统计：</p>
                            <p>●全球心理治疗费用估计1470亿美元</p>
                            <p>●全球心理患者工作能力提升将会为社会带来价值3990亿美元</p>
                            <p>●全球患者身体健康状况改善将会为社会带来价值3100亿美元</p>
                            <p>●全球约有抑郁症患者4亿，中国约有抑郁症患者3000万（只有5%得到治疗）</p>
                            <p>●中国约有1.9亿人需要接受专业心理咨询或心理治疗</p>
                            <p>●中国约有2.5亿人需要“心理服务”，有8000万人需要“心理治疗”</p>
                            <p>●中国25～45岁 人群中约有4.1亿人受各种心理困扰</p>
                            <p>●中国18～24岁 人群中约有1.5亿人受各种心理困扰</p>
                            <p>●中国3～17岁 人群中约有0.5亿人受各种情绪障碍和行为问题困扰</p>
                            <p>●中国46～65岁 人群中约有2.6亿人受各种情绪障碍和行为问题困扰</p>
                        </div>
                        <div class="content textIndent2 mt-10 pl-30 pr-30">
                            当下阶段，众多群体正面临诸如：职业压力、学习压力、自信心、婚恋等发展性心理问题，调研结果呈现出：受访用户中47.1％的人不会选择专业的心理咨询服务。原因除了科普不足、价格高昂外，老百姓对于心理这样一个来自于西方的文化，在传统认知和心理本身就存在一种排斥和抗拒！而中国传统修身养性的文化应用，对老百姓而言亦相对陌生，更谈不上深度理解和感悟。。。若每个人都能在无心理排斥的状态下享受低成本的指引性服务，将极大提升人们生活质量和幸福感！
                        </div>
                        <div class="content textIndent2 mt-10 pl-30 pr-30">
                            在这样的背景和环境下，iSouLing应运而生！我们希望与您一道进行有效的资源整合，帮助全国乃至全球用户在应用端实现个人成长和人生梦想！
                        </div>
                        <div class="text-c mt-10">
                            <img src="/images/main/about/aboutus_3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>