@{
    ViewData["Title"] = Localizer["首页"];
}
<div class="m-banner">
    <div class="bd">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:5700px">
            <ul id="bannerList" style="width: 17100px; position: relative; overflow: hidden; padding: 0; margin: 0; left: -7600px;">
                <li style="background: url(/images/main/banner4.jpg) center center no-repeat; float: left; width: 1900px;" title="" class="clone">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner5.jpg) center center no-repeat; float: left; width: 1900px;" title="">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner1.jpg) center center no-repeat; float: left; width: 1900px;" title="">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner2.jpg) center center no-repeat; float: left; width: 1900px;" title="">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner3.jpg) center center no-repeat; float: left; width: 1900px;" title="">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner4.jpg) center center no-repeat; float: left; width: 1900px;" title="">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner5.jpg) center center no-repeat; float: left; width: 1900px;" title="" class="clone">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner1.jpg) center center no-repeat; float: left; width: 1900px;" title="" class="clone">
                    <a target="_blank" href="javascript:;"></a>
                </li>
                <li style="background: url(/images/main/banner2.jpg) center center no-repeat; float: left; width: 1900px;" title="" class="clone">
                    <a target="_blank" href="javascript:;"></a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="hd">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class="on"></li>
        <li class=""></li>
    </ul>
    <div class="pnBtn prev">
        <span class="blackBg"></span>
        <a class="arrow" href="javascript:void(0)"></a>
    </div>
    <div class="pnBtn next">
        <span class="blackBg"></span>
        <a class="arrow" href="javascript:void(0)"></a>
    </div>
</div>
<div class="index_banner_top">
    <div class="index_banner1"></div>
    <div class="index_banner2"></div>
    <div class="index_banner_box">
        <div class="index_banner_text">
            <h2></h2>
            <div class="text">
                <p>iSouLing是一个“应用级心灵成长”领域的内容与互动应用整合平台，以人格学、心理学、哲学、社会学、经济学、生命科学等学术和应用资源为根基，整合身心健康、文化交流、个人发展等综合产业服务链。以用户为中心进行人格识别、数据分析和挖掘，为用户提供“自我认知、个人成长、职业事业发展、商务应用”等人工智能综合应用服务，旨在帮助用户实现自我超越和智慧成长，预防心理迷茫和困扰的发生、蔓延与发展，传播喜悦人生的价值观，为健康心灵护航，为精彩人生导航。</p>
            </div>
        </div>
    </div>
</div>
<div class="index_banner_middle">
    <div class="index_banner3"></div>
    <div class="index_banner4"></div>
    <div class="index_banner5"></div>
</div>
<div class="index_banner_bottom">
    <div class="index_banner6"></div>
    <div class="index_banner7"></div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function() {
            initBanner();
        });
        //焦点图轮换
        function initBanner() {
            $(".m-banner .bd li").first().before($(".m-banner .bd li").last());
            $(".m-banner").slide({
                titCell: ".hd li",
                mainCell: ".bd ul",
                effect: "leftLoop",
                autoPlay: true,
                vis: 3,
                interTime: 5000,
                trigger: "mouseover"
            });
        }
    </script>
}
