<footer class="g-footer bgft">
    <div class="m-footer">
        <div class="ft">
            <p class="f-12">用户服务邮箱：iSouLingUS@gmail.com&nbsp;&nbsp;iSouLing 版权所有 Copyright 2017 All Rights Reserved｜沪ICP备00000000号</p>
        </div>
    </div>
</footer>