<header class="g-header">
    <!-- m-top 顶部栏-->
    <div class="bgtop" id="toper">
        <div class="m-toper clearfix">
            <span class="hotline mr-20 f-12">@(User.Identity.Name)您好，欢迎来到iSouLing！</span>
            <ul class="nav clearfix 9alink">
                <li><a href="javascript::">我的iSouLing</a></li>
            </ul>
        </div>
    </div>
    <!-- m-nav 导航栏-->
    <div class="bgfff" id="naver">
        <div class="m-nav h70">
            @Html.Partial(ViewBag.NaviType == null ? "_Header_Navi" : "_Header_Account")
        </div>
    </div>
</header>