<div class="m-nav h70">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index"><img src="/images/main/logo.png" title="iSouLing" class="logo" /></a>
        <span class="txtlogo">@ViewBag.Title</span>
    </div>
    <div class="other">
        <a asp-controller="Home" asp-action="Index" class="btn btn-index">返回首页</a>
    </div>
</div>