<div class="main_content">
    @await Html.PartialAsync("_Process")
    <div class="con_page">
        <div class="con_page_l">
            <div class="m-updatelevel">
                <div class="u-header j-header">
                    <p><span><strong class="c-colours">1</strong>/27/1</span></p>
                    <h5 class="num f-36 l50">人格识别：</h5>
                    <div class="s_divide"></div>
                </div>
                <div class="infoCon">
                    <p>为了准确识别您内心特质的主人格，保障您深层的自我理解和自我发展，请保持心绪平静，以第一感觉真诚的作答，不用太过深思熟累。因为答案沒有对与錯，也没有好坏之分。每个人格特质都有各自的优与劣！</p>
                </div>
                <div class="infoPic">
                    <img src="/images/pic_1.jpg">
                </div>
            </div>
        </div>
        <div class="con_page_r">
            <div class="mu-user select">
                <div class="m-info pb-30">
                    <div class="u-con">
                        <div class="ask-content f-20">你是否总是喜欢与能干的人为伍? </div>
                        <div class="ask-btn">
                            <a class="ask-btn0">是</a>
                            <a class="ask-btn1">否</a>
                            <a class="ask-btn2">不确定</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mu-user">
                <div class="m-info pb-30">
                    <div class="u-con">
                        <div class="ask-content f-20">聚会时，你是否常常热情的为大家服而务忽略自己？如：朋友需要纸巾时你会主动的递上，关注别人忽略的细节？</div>
                        <div class="ask-btn">
                            <a class="ask-btn0">是</a>
                            <a class="ask-btn1">否</a>
                            <a class="ask-btn2">不确定</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mu-user">
                <div class="m-info pb-30">
                    <div class="u-con">
                        <div class="ask-content f-20">聚会时，你是否常常热情的为大家服而务忽略自己？如：朋友需要纸巾时你会主动的递上，关注别人忽略的细节？</div>
                        <div class="ask-btn">
                            <a class="ask-btn0">是</a>
                            <a class="ask-btn1">否</a>
                            <a class="ask-btn2">不确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>