<div class="main_content">
    @await Html.PartialAsync("_Process")
    <div class="con_page">
        <div class="con_page_l">
            <div class="m-updatelevel">
                <div class="u-header j-header">
                    <p><span><strong class="c-colours">70</strong>%</span></p>
                    <h5 class="num f-48 l40">＃1<div class="u_title">腹中心｜本能主导</div><div class="u_info">完美型／改革型</div></h5>
                    <div class="s_divide"></div>
                </div>
                <div class="infoCon">
                    <p>气质识别是通过您的气质形态反应您的内在人格，请上传3张照片和30秒以内的短视频。照片和视频要求是半身或全身；视频要求您随心说一些话。</p>
                </div>
                <div class="infoPic">
                    <img src="/images/pic_1.jpg">
                </div>
            </div>
        </div>
        <div class="con_page_r">
            <div class="mu-user">
                <div class="m-info pb-50">
                    <div class="u-header j-header">
                        <h5 class="l60">上传照片/短视频</h5>
                    </div>
                    <div class="u-con">
                        <p class="success hide">已上传完成，感谢您的耐心！请升级为高级用户进行精准识别！</p>
                        <div class="infobox cl">
                            <div class="pic_box l">
                                <span class="pic_add l">
                                    <a href="javascript:;">
                                        <p class="font_67">+</p>
                                    </a>
                                </span>
                            </div>
                            <div class="pic_box l">
                                <span class="pic_add l">
                                    <a href="javascript:;">
                                        <p class="font_67">+</p>
                                    </a>
                                </span>
                            </div>
                            <div class="pic_box l">
                                <span class="pic_add l">
                                    <a href="javascript:;">
                                        <p class="font_67">+</p>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="infobox cl">
                            <div class="pic_box_l l">
                                <span class="pic_add l">
                                    <a href="javascript:;">
                                        <p class="font_67">+</p>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>