@model MemberPhoneRegisterViewModel
@Html.Partial("Register_Cellphone")
@Html.Partial("Register_Password")
<div class="form-group">
    <label asp-for="Nickname" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>
</div>
@Html.Partial("Register_VerificationCode")
<div class="form-group">
    <label asp-for="InvitationCode" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="InvitationCode" class="form-control" />
        <span asp-validation-for="InvitationCode" class="text-danger"></span>
    </div>
</div>